{% extends "/_layouts/main" %}

{% block content %}
    <!-- Template: {{ _self }}.twig -->

<section class="grid">
  <div class="row">
    <div class="col col-xs-12 col-md-8 col-lg-12">
      <h2 class="heading heading--2">Warenkorb</h2>

    {% if cart.lineItems|length %}
      <form method="post" class="form__cart" action="">
        {{ actionInput('commerce/cart/update-cart') }}
        {{ hiddenInput('successMessage', 'Der Warenkorb wurde aktualisiert.'|hash) }}
        {{ csrfInput() }}
        <table class="form__cart-table table">
            <thead>
            <tr class="form__cart-table--head">
                <th class="form__cart-table--item form__cart-table--item-left">Artikel</th>
                <th class="form__cart-table--item form__cart-table--item-middle">Anzahl</th>
                <th class="form__cart-table--item form__cart-table--item-right">Preis</th>
            </tr>
            </thead>
                <tbody>
                {% for item in cart.lineItems %}
                    <tr>
                        <td class="py-3 pl-3 {{ not loop.first ? 'border-t border-gray-300 border-dashed' : '' }} overflow-hidden" rowspan="2">
                            <div class="w-full overflow-hidden max-w-md">
                              <div class="truncate">
                                <strong class="{% if item.hasErrors() %}text-red-500{% endif %}">{{ item.description }}</strong>
                              </div>
                            </div>
                            <span class="">{{ item.sku }}</span>
                            <div class="form__cart-table--options">
                                <code class="p-3 pt-8 inline-block ">{{ item.options|length ? item.options|json_encode : 'keine Zusatzoptionen.' }}</code>
                                <span class="absolute top-0 left-0 pt-2 pl-2 text-2xs">Zusatzoptionen</span>
                            </div>
                            <div class="">
                                <label>
                                    <input type="checkbox"
                                           name="lineItems[{{ item.id }}][remove]"
                                           value="1"> Entfernen
                                </label>
                            </div>
                        </td>
                        <td class="py-3 {{ not loop.first ? 'border-t border-gray-300 border-dashed' : '' }}">
                            {% if item.options.giftWrapped is defined %}
                                <select name="lineItems[{{ item.id }}][options][giftWrapped]">
                                    <option value="no"
                                            {% if item.options.giftWrapped == 'no' %}selected{% endif %}>
                                        Nicht als Geschenk verpackt.
                                    </option>
                                    <option value="yes"
                                            {% if item.options.giftWrapped == 'yes' %}selected{% endif %}>
                                        als Geschenk verpackt.
                                    </option>
                                </select>
                            {% endif %}

                            {% if item.options.donationAmount is defined %}
                                <label for="lineitem-note-{{ item.id }}" class="text-xs uppercase block">Donation Betrag</label>
                                <input class="input input-small"
                                       type="text" name="lineItems[{{ item.id }}][options][donationAmount]" placeholder="Donation" value="{{item.options.donationAmount}}">
                            {% endif %}

                            <span class=" {{ item.options.donationAmount is defined ? 'hidden' : '' }}">
                                <input class="input  input-small {% if item.getFirstError('qty') %}border-red-500 border{% endif %}"
                                       type="{% if item.options.donationAmount is defined %}hidden{%else%}number{%endif%}" name="lineItems[{{ item.id }}][qty]" min="0" value="{{ item.qty }}">
                            </span>

                            <div class="form__cart-table--note">
                                <label for="lineitem-note-{{ item.id }}" class="text-gray-500 text-xs uppercase block">Notiz Artikel</label>
                                <input id="lineitem-note-{{ item.id }}" class="input" type="text" placeholder="Notiz"
                                       size="20"
                                       name="lineItems[{{ item.id }}][note]"
                                       value="{{ item.note }}">
                            </div>
                        </td>

                        <td class="form__cart-table--item-prices {{ not loop.first ? 'border-t border-gray-300 border-dashed' : '' }} text-right">
                            {% if not cart.hasErrors() %}
                                <div class="form__cart-table--item-price" title="{{ item.price }}">
                                    <div class="form__cart-table--item-price-name">Preis:</div>
                                    <div class="form__cart-table--item-price-number">{% if item.onSale %}<del>{% endif %}{{ item.price|commerceCurrency(cart.currency) }}{% if item.onSale %}</del>{% endif %}</div>
                                </div>
                                {% if item.onSale %}
                                    <div class="form__cart-table--item-price" title="{{ item.salePrice }}">
                                        <div class="form__cart-table--item-price-name">Sale Preise:</div>
                                        <div class="form__cart-table--item-price-number">{{ item.salePrice|commerceCurrency(cart.currency) }}</div>
                                    </div>
                                    <div class="form__cart-table--item-price" title="{{ item.saleAmount }}">
                                        <div class="form__cart-table--item-price-name">Sale Betrag:</div>
                                        <div class="form__cart-table--item-price-number">{{ item.saleAmount|commerceCurrency(cart.currency) }}</div>
                                    </div>

                                    {% set itemSales = item.snapshot.sales ?? [] %}
                                    {% if itemSales|length %}
                                        <div class="flex w-full justify-end">
                                            <div class="text-xs pr-2">Sales hinzugefügt:</div>
                                            <div class="text-xs">
                                                {% for sale in itemSales %}
                                                    {{ sale.name }}<br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="form__cart-table--item-price" title="{{ item.subtotal }}">
                                    <div class="form__cart-table--item-price-name">Subtotal:</div>
                                    <div class="form__cart-table--item-price-number">{{ item.subtotal|commerceCurrency(cart.currency) }}</div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr class="">
                        <td class="text-right" colspan="2">
                            {% if not cart.hasErrors() and item.adjustments|length %}
                                <div class="text-left text-2xs uppercase tracking-wider text-gray-600">Anpassungen</div>
                                <div class="border-t border-gray-300 border-dotted mt-1">
                                    {% for adjustment in item.adjustments %}
                                        <div class="flex w-full mt-2 text-sm">
                                            <div class="text-left">
                                                <strong class="text-gray-400 text-xs uppercase">{{ adjustment.type }}</strong><br>
                                                {{ adjustment.name }}
                                                {% if adjustment.isEstimated %}<i class="text-grey-dark">{{ 'Estimated' }}</i>{% endif %}<br>
                                                <span class="text-gray-600 text-xs">{{ adjustment.description }}</span>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="text-gray-500" title="{{ adjustment.amount }}"> {{ adjustment.amount|commerceCurrency(cart.currency) }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if not cart.hasErrors() %}
                            <div class="form__cart-table--item-price" title="{{ item.total }}">
                                <div class="form__cart-table--item-price-name">Total:</div>
                                <div class="form__cart-table--item-price-number form__cart-table--item-price-number-bold">{{ item.total|commerceCurrency(cart.currency) }}</div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                      <td class="text-left" colspan="4">
                        <div class="pr-2">
                            {{ redirectInput('shop/warenkorb') }}
                            <input class="button button--secondary" type="submit" value="Warenkorb aktualisieren"/>
                        </div>
                      </td>
                    </tr>
                {% endfor %}

                {% if not cart.hasErrors() %}
                <tr>
                    <td></td>
                    <td colspan="2" class="">
                        <div class="form__cart-table--item-pricesubtotal" title="{{ cart.itemSubTotal }}">
                            <div class="form__cart-table--item-price-name">Artikel Total:</div>
                            <div class="form__cart-table--item-pricesubtotal-number">{{ cart.itemTotalAsCurrency }}</div>
                        </div>
                    </td>
                </tr>
                {% endif %}

                {% if not cart.hasErrors() and cart.orderAdjustments|length %}
                    <tr class="border-t-2 border-gray-300">
                        <td class="py-3"></td>
                        <td colspan="2" class="py-3 pr-3">
                            <div class="text-left text-2xs uppercase tracking-wider text-gray-600">Bestellung:</div>
                            <div class="border-t border-gray-300 border-dotted mt-1">
                                {% for adjustment in cart.orderAdjustments %}
                                    <div class="flex w-full items-center mt-2 text-sm">
                                        <div class="pr-2">
                                            <strong class="text-gray-400 text-xs uppercase">{{ adjustment.type }}</strong>
                                        </div>
                                        <div class="">
                                            {{ adjustment.name }}
                                            {% if adjustment.isEstimated %}<i class="text-grey-dark">{{ 'Estimated' }}</i>{% endif %}<br>
                                            {{ adjustment.description }}
                                        </div>
                                        <div class="ml-auto">
                                            <span class="text-gray-500" title="{{ adjustment.amount }}"> {{ adjustment.amount|commerceCurrency(cart.currency) }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2" class="border-t-2 border-gray-300">
                        <div class="pt-3">
                            {% include 'shop/warenkorb/_includes/shipping-estimator' %}
                        </div>
                    </td>
                    <td class="form__cart-table--adjustments-order">
                        {% if not cart.hasErrors() %}
                            <div class="mt-3">
                                <strong class="text-sm text-gray-600">Bestellung</strong>
                            </div>

                            <div class="form__cart-table--item-addprice" title="{{ cart.getTotalShippingCost() }}">
                                <div class="form__cart-table--item-price-name">Versand:</div>
                                <div class="form__cart-table--item-price-number">{{ cart.getTotalShippingCost()|commerceCurrency(cart.currency) }}</div>
                            </div>
                            <div class="form__cart-table--item-addprice" title="{{ cart.getTotalTax() }}">
                                <div class="form__cart-table--item-price-name">Steuer:</div>
                                <div class="form__cart-table--item-price-number">{{ cart.getTotalTax()|commerceCurrency(cart.currency) }}</div>
                            </div>
                            <div class="form__cart-table--item-addprice" title="{{ cart.getTotalTaxIncluded() }}">
                                <div class="form__cart-table--item-price-name">Steuer (inkl):</div>
                                <div class="form__cart-table--item-price-number">{{ cart.getTotalTaxIncluded()|commerceCurrency(cart.currency) }}</div>
                            </div>
                            <div class="form__cart-table--item-addprice" title="{{ cart.getTotalDiscount() }}">
                                <div class="form__cart-table--item-price-name">Rabatt:</div>
                                <div class="form__cart-table--item-price-number">{{ cart.getTotalDiscount()|commerceCurrency(cart.currency) }}</div>
                            </div>

                            <div class="form__cart-table--item-pricetotal" title="{{ cart.totalPrice }}">
                                <div class="form__cart-table--item-price-name">Total Preis:</div>
                                <div class="form__cart-table--item-pricetotal-number">{{ cart.totalPrice|commerceCurrency(cart.currency) }}</div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="" colspan="3">
                        <div class="form__cart-table--coupon">
                            <div class="{{ cart.getFirstError('couponCode') ? classes.box.error : classes.box.base }} form__cart-table--coupon-box">
                                {# The Update Coupon form uses the single update controller action #}
                                <h4 class="heading heading--4 heading--no-margin-top">Coupon Code</h4>
                                {% if cart.getFirstError('couponCode') %}
                                    <div class="text-red-500">{{ cart.getFirstError('couponCode') }}</div>
                                {% endif %}

                                <div class="pt-3">
                                    <input type="text" name="couponCode" width="11"
                                           class="input {% if cart.getFirstError('couponCode') %}text-red-500{% endif %}"
                                           value="{{ cart.couponCode }}"
                                           placeholder="{{ "Coupon Code" }}">
                                </div>
                            </div>
                        </div>
                        <div class="form__cart-table--buttons">
                            <div class="form__cart-table--buttons-container">
                                <div class="pr-2">
                                    {{ redirectInput('shop/warenkorb') }}
                                    <input class="button button--secondary" type="submit" value="Warenkorb aktualisieren"/>
                                </div>
                                <div>
                                    {% if not cart.hasErrors() %}
                                        <a class="button button--primary" href="{{ url('shop/checkout') }}">Bezahlen</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
              </tbody>
          </table>
        </form>
    {% endif %}

    {% if not cart.lineItems|length %}
        <p>Keine Artikel im Warenkorb. Zur <a href="{{ url('shop/produkte') }}">Shop Seite</a>.</p>
    {% endif %}

    </div>
    </div>
    </section>
{% endblock %}
