{% extends '/_layouts/main' %}

{# {% set mailingList = craft.campaign.mailingLists.id(28616).one() %} #}
{% set mailingList = craft.campaign.mailingLists.slug('newsletter-privatkunden').one() %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">

        <h2>Newsletter</h2>

        <h3>Anmeldung</h3>
        {% include '_pages/newsletter/index.twig' %}

        <h3>Abmeldung</h3>

        <div class="row">
          <div class="col col-xs-12 col-md-8 col-lg-6">

            <form id="unsubscribe-form" method="post" action="" class="newsletter-form">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="campaign/forms/unsubscribe"/>
              <input type="hidden" name="mailingList" value="{{ mailingList.slug }}"/>
              <input type="hidden" name="redirect" value="{{ 'shop/customer/newsletter/unsubscribe-mail'|hash }}"/>

              <div class="newsletter-form__item">
                <h3 class="visually-hidden heading layout-helper__margin-top--none"><label for="email">Email</label>
                </h3>
                <input id="email" type="email" class="input" placeholder="E-Mail" name="email" value="" required/>
              </div>

              <input type="submit" class="input input__primary newsletter-form__submit" value="Abmelden"/>
              
              {# Outputs a hidden input field #}
              {{ craft.snaptcha.field }}

            </form>

          </div>
        </div>

        {# {% set mailingList = craft.campaign.mailingLists.id(23076).one() %}
        #}{# If there were any validation errors, a `contact` variable will be passed to the
   template, which contains the posted values and validation errors. If that’s not
   set, we’ll default to a new contact. #}{#
        {% set contact = contact ?? create('putyourlightson\\campaign\\elements\\ContactElement') %}

        <form id="subscribe-form" method="post" action="" class="newsletter-form">
          {{ csrfInput() }}
          <input type="hidden" name="action" value="campaign/forms/subscribe"/>
          <input type="hidden" name="mailingList" value="{{ mailingList.slug }}"/>
          <input type="hidden" name="redirect" value="{{ 'shop/customer/newsletter/subscribe-success'|hash }}"/>

          <div class="newsletter-form__item">
            <h3><label for="email">E-Mail</label></h3>
            <input id="email" class="input" type="email" placeholder="E-Mail" name="email"
                   value="{{ contact.email }}" required/>
            {{ contact.getFirstError('email') }}
          </div>

          <div class="newsletter-form__item">
            <h3><label for="name">Vorname</label></h3>
            <input id="name" class="input" type="text" placeholder="Vorname" name="fields[firstName]"
                   value="{{ contact.firstName }}"
                   required/>
            {{ contact.getFirstError('firstName') }}
          </div>

          <div class="newsletter-form__item">
            <h3><label for="name">Nachame</label></h3>
            <input id="name" class="input" type="text" placeholder="Nachname" name="fields[lastName]"
                   value="{{ contact.lastName }}"
                   required/>
            {{ contact.getFirstError('lastName') }}
          </div>
          <!-- Required if reCAPTCHA is enabled in plugin settings -->
          {{ craft.campaign.recaptcha }}

          <input type="submit" class="input input__primary newsletter-form__submit" value="Anmelden"/>
        </form> #}


      </div>

    </div>
  </section>
{% endblock %}

