{% extends '_layouts/main' %}
{% set bodyClass = 'home' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h1 class="heading heading--title">
          <span class="visually-hidden">{{ 'main.orgName'|t }} -</span>
          {{ entry.homepage }}
        </h1>
      </div>
    </div>
  </section>

  <section class="grid">
    <div class="row">
      <div class="quicklinks">
        <h2 class="visually-hidden">
          Quicklinks
        </h2>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-4">
        <h3>
          Delikatessen
        </h3>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-4">
        <h3>
          Weine
        </h3>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-4">
        <h3>
          Geschenksets
        </h3>
      </div>
    </div>
  </section>

  {# Alle Neuheiten #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2 class="heading heading--h2">
          Alle Neuheiten
        </h2>
        <div>
          {% for type in craft.commerce.productTypes.allProductTypes %}
            <ul>
              <li><a href="{{ type.name }}">{{ type.name }}</a></li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {# Auswahl aus dem Shop #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2 class="heading heading--h2">
          Auswahl aus dem Shop
        </h2>
      </div>
    </div>
  </section>

  {# Aktionen #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h3 class="heading heading--h3">
          Aktionen
        </h3>
      </div>
    </div>

    <div class="">
      <div class="">
        {% for sale in craft.commerce.sales.allSales %}
          {% if sale is defined and sale is not empty %}
            {{ sale.name }} - {{ sale.description }}
          {% endif %}
        {% endfor %}

        {% set sales = craft.commerce.sales.getAllSales() %}
        {% set categories = [] %}
        {% set variantIds = [] %}

        {% for sale in sales %}
          {% set categories = categories|merge(sale.categoryIds) %}
          {% set variantIds = variantIds|merge(sale.purchasableIds) %}
        {% endfor %}

        {% set productIds = [] %}
        {% for product in craft.products.relatedTo(categories).all() %}
          {% set productIds = productIds|merge([product.id]) %}
        {% endfor %}

        {% set variants = craft.variants.id(variantIds).all() %}
        {% for variant in variants %}
          {% set productIds = productIds|merge([variant.productId]) %}
        {% endfor %}

        {% set products =
          craft.products.id(productIds).with('variants').all()
        %}

        <ol>
          {% for product in products %}
            {% set variant = product.defaultVariant %}
            {% if variant.onSale %}
              <li>
                {{ variant.title }}:{{ variant.price }} - {{
                  variant.salePrice
                }}
              </li>
            {% else %}
              <li>{{ product.title }}</li>
            {% endif %}
          {% endfor %}
        </ol>
        {# {% include '_layouts/_includes/shop.twig' %} #}
      </div>
    </div>
  </section>

  {# Neuheiten #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h3 class="heading heading--h3">
          Neuheiten
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P1
      </div>
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P2
      </div>
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P3
      </div>
    </div>
  </section>

  {# Beliebteste #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h3 class="heading heading--h3">
          Beliebteste
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P1
      </div>
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P2
      </div>
      <div class="col col-xs-12 col-md-6 col-lg-4">
        P3
      </div>
    </div>
  </section>
{% endblock %}
