{% extends '_layouts/main' %}
{% set bodyClass = 'home' %}

{% set navNewArticles = craft.entries.id(99).one() %}

{% import '_helpers/macros.twig' as macros %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h1 class="heading heading--title heading--no-margin">
          <span class="visually-hidden">
            {{ 'main.orgName'|t }} - {{ 'main.title'|t }}
          </span>
        </h1>
      </div>
    </div>
  </section>


  {# HOMEPAGE-NEWS MOBILE #}
  {% if
    entry.newsHomepageField is defined
      and entry.newsHomepageField is not empty %}
    {% for block in entry.newsHomepageField.all() %}
      <div class="homepage-news homepage-news--mobile">
        <span class="homepage-news__time">{{ block.newsHomepageTime }}</span>
        <span class="homepage-news__location">
          {{ block.newsHomepageLocation }}
        </span>
        <h3 class="homepage-news__title heading heading--no-margin heading--3">
          {{ block.newsHomepageTitle }}
        </h3>
        <p class="homepage-news__text">
          {{ block.newsHomepageText }}
        </p>
      </div>
    {% endfor %}
  {% endif %}

  {# {% include '_components/_content-elements/content-elements-startpage-loop' with {
    contentElementsStartpage: entry.contentElementsStartpage.level(1),
    usesGrid: false
  } %} #}

  {# Auswahl aus dem Shop #}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2 class="heading heading--h2">
          Auswahl aus dem Shop
        </h2>
        <a class="home__link layout-helper__margin-bottom--s"
          href="{{ navNewArticles.url }}">
          <span class="link__text link__text--section">{{ 'Shop'|t }}</span>
          <div class="link__icon-wrapper link__icon-wrapper--internal">
            {{
              macros.svg('arrow_42')|attr({
                class: 'link__icon link__icon--internal icon icon--42'
              })
            }}
          </div>
        </a>
      </div>
    </div>
  </section>


  {# Aktionen #}
  <section class="section-home section-home__stripe section-home__campaigns">
    <div class="grid">
      <div class="row">
        <div class="col col-xs-12 col-md-12 col-lg-12">
          <h3 class="heading heading--h3">
            Aktionen
          </h3>
          <a class="section-home__link" href="shop/produkte?search=&limit=16&articleCategoriesStatus=10744&page=1">
            <span class="link__text link__text--section">
              {{ 'Alle Aktionen'|t }}
            </span>
            <div class="link__icon-wrapper link__icon-wrapper--internal">
              {{
                macros.svg('arrow_42')|attr({
                  class: 'link__icon link__icon--internal icon icon--42'
                })
              }}
            </div>
          </a>
        </div>
      </div>
      {% set products = entry.homeSales %}
      <div class="row section-home__row-products">
        {% if products|length %}
          {% for product in products %}
            <div class="col col-xs-12 col-md-4 col-lg-4">
              <a href="{{ product.url }}" class="section-home__product">
                {% set transform = transformation|default('productListing') %}
                  {% set img = product.articleImage.one() ?? null %}

                  {% if img is defined %}
                    {% include '_components/_content-elements/image'
                      with {
                        image: img,
                        transform: transform
                        } %}
                  {% endif %}

                <div class="section-home__product--info">
                  <h4 class="section-home__product--heading">
                    {{ product.title }}
                  </h4>

                  {% if currentUser %}
                    {% if currentUser.isInGroup('userGroupPrivate') or currentUser.isInGroup('userGroupRedactors') %}
                      <p class="section-home__product--price">
                          {{ product.pricePrivateCustomer|currency('CHF') }}
                      </p>
                    {% elseif currentUser.isInGroup('userGroupRetail')  or currentUser.isInGroup('userGroupRedactors') %}
                      <p class="section-home__product--price">
                          {{ product.priceRetailTrader|currency('CHF') }}
                      </p>
                    {% endif %}
                  {% else %}
                  <p class="section-home__product--price">
                      {{ product.pricePrivateCustomer|currency('CHF') }}
                    </p>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="section-home__overlay"></div>
  </section>

    {# Neuheiten #}
  <section class="section-home section-home__stripe section-home__newproducts">
    <div class="grid">
      <div class="row">
        <div class="col col-xs-12 col-md-12 col-lg-12">
          <h3 class="heading heading--h3">
            Neuheiten
          </h3>
          <a class="section-home__link" href="shop/produkte?search=&limit=16&articleCategoriesStatus=10745&page=1">
            <span class="link__text link__text--section">
              {{ 'Alle Neuheiten'|t }}
            </span>
            <div class="link__icon-wrapper link__icon-wrapper--internal">
              {{
                macros.svg('arrow_42')|attr({
                  class: 'link__icon link__icon--internal icon icon--42'
                })
              }}
            </div>
          </a>
        </div>
      </div>
      {% set products = entry.homeNewProduct %}
      <div class="row section-home__row-products">
        {% if products|length %}
          {% for product in products %}
            <div class="col col-xs-12 col-md-4 col-lg-4">
              <a href="{{ product.url }}" class="section-home__product">
                {% set transform = transformation|default('productListing') %}
                  {% set img = product.articleImage.one() ?? null %}

                  {% if img is defined %}
                    {% include '_components/_content-elements/image'
                      with {
                        image: img,
                        transform: transform
                        } %}
                  {% endif %}

                <div class="section-home__product--info">
                  <h4 class="section-home__product--heading">
                    {{ product.title }}
                  </h4>

                   {% include '/shop/produkte/_includes/prices.twig' %}

                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="section-home__overlay"></div>
  </section>

  {# Beliebteste #}
  {# <section class="section-home section-home__favorites">
    <div class="grid">
      <div class="row">
        <div class="col col-xs-12 col-md-12 col-lg-12">
          <h3 class="heading heading--h3">
            Beliebteste
          </h3>
        </div>
      </div>
      {% set products = entry.homeFavorites %}
      <div class="row">
        {% if products|length %}
          {% for product in products %}
            <div class="col col-xs-12 col-md-6 col-lg-4">
              <a href="{{ product.url }}">{{ product.title }}</a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section> #}
{% endblock %}

{# Alle Neuheiten #}
{# <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2 class="heading heading--h2">
          Alle Neuheiten
        </h2>
        <div>
          {% for type in craft.commerce.productTypes.allProductTypes %}
            <ul>
              <li><a href="{{ type.name }}">{{ type.name }}</a></li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </section> #}

{# <div class="">
      <div class="">
        {% for sale in craft.commerce.sales.allSales %}
          {% if sale is defined and sale is not empty %}
            {{ sale.name }} - {{ sale.description }}
          {% endif %}
        {% endfor %}

        {% set sales = craft.commerce.sales.getAllSales() %}
        {% set categories = [] %}
        {% set variantIds = [] %}

        {% for sale in sales %}
          {% set categories = categories|merge(sale.categoryIds) %}
          {% set variantIds = variantIds|merge(sale.purchasableIds) %}
        {% endfor %}

        {% set productIds = [] %}
        {% for product in craft.products.relatedTo(categories).all() %}
          {% set productIds = productIds|merge([product.id]) %}
        {% endfor %}

        {% set variants = craft.variants.id(variantIds).all() %}
        {% for variant in variants %}
          {% set productIds = productIds|merge([variant.productId]) %}
        {% endfor %}

        {% set products =
          craft.products.id(productIds).with('variants').all()
        %}

        <ol>
          {% for product in products %}
            {% set variant = product.defaultVariant %}
            {% if variant.onSale %}
              <li>
                {{ variant.title }}:{{ variant.price }} - {{
                  variant.salePrice
                }}
              </li>
            {% else %}
              <li>{{ product.title }}</li>
            {% endif %}
          {% endfor %}
        </ol>
       {% include '_layouts/_includes/shop.twig' %}
      </div>
    </div> #}
