<!-- Template: {{ _self }}.twig -->
{# Allow passing of cart into partial #}
{% set cart = cart is not defined ? craft.commerce.carts.cart : cart %}
{% set addresses = craft.commerce.customers.customer.addresses %}

{% set discount = craft.commerce.discounts.getDiscountByCode(cart.couponCode) %}

{% if showShippingAddress is not defined %}
  {% set showShippingAddress = false %}
{% endif %}

{% if showShippingMethod is not defined %}
  {% set showShippingMethod = false %}
{% endif %}

<div class="checkout__box checkout__box-summary">
  <h2 class="heading heading--2 heading--no-margin-top">
    Bestellübersicht
  </h2>

  {% if showShippingAddress %}
    <div class="checkout__box--adresses">

      <div class="checkout__box--adresses-single">

        <h4 class="heading heading--4 checkout__box--subheading">
          Versandadresse
        </h4>
        {% if cart.shippingAddress %}
          <div class="address-select js-address-select border-0">
            {% include 'shop/_includes/addresses/address' with {
              address: cart.shippingAddress
            } %}
          </div>

        {% else %}
          <p>{{ 'No shipping address selected.'|t }}</p>
        {% endif %}
      </div>

      <div class="checkout__box--adresses-single">
        {% if cart.billingAddress %}
          <h4 class="heading heading--4 checkout__box--subheading">
            Rechnungsadresse
          </h4>
          <div class="js-address-select border-0">
            {{ include('shop/_includes/addresses/address', {
              address: cart.billingAddress,
              ignoreKeys: ['label'],
              boldKeys: [],
              asLines: false
            }) }}
          </div>
        {% else %}
          <p>{{ 'No billing address selected.'|t }}</p>
        {% endif %}
      </div>

    </div>
    <div class="checkout__box--button-change">
      <a href="{{ url('/shop/checkout/addresses') }}" class="button--small button button--primary">
        {{- 'Adressen ändern'|t -}}
      </a>
    </div>
  {% endif %}


  {% if showShippingMethod %}
    {% if cart.shippingMethod %}
      <div class="checkout__box checkout__box--section">
        <h4 class="font-semibold mt-3">
          Versandart
        </h4>

        <div>
          {{ cart.shippingMethod.name }}
        </div>
      </div>
    {% endif %}
  {% endif %}

  <h4 class="heading layout-helper__margin-top--xxs">
    Artikel
  </h4>
  {% for item in cart.lineItems %}
    <div class="flex w-full justify-between">
      <div class="flex justify-between mr-3 overflow-hidden items-center">
        <div class="truncate">
          {% if item.qty %}
            {{ item.qty }}&times;
          {% endif %}
          {{ item.description }}
        </div>
      </div>

      {% if
        item.options.giftWrapped is defined
        or item.options.giftNote is defined %}
        <div class="">
          {{ item.total|currency(cart.currency) }}
        </div>
      {% else %}
        <div>
          {{ item.subtotal|currency(cart.currency) }}
        </div>
      {% endif %}
    </div>
    {% if item.note %}
      <div class="mt-1 flex">
        <div class="pr-2 uppercase">
          Notiz
        </div>
        <div>
          {{ item.note }}
        </div>
      </div>
    {% endif %}

  {% else %}
    <div class="mb-3">
      <p>
        Der Warenkorb ist leer, <a class="underline text-blue-500"
                                   href="{{ url('shop/produkte') }}">
          etwas hinzufügen
        </a>.
      </p>
    </div>
  {% endfor %}

  <div class="summary__price summary__price--line">
    <div class="summary__price--title">
      Zwischensumme:
    </div>
    <div class="summary__price--number">
      {{ cart.itemSubTotal|commerceCurrency(cart.currency) }}
    </div>
  </div>

  {% if not cart.shippingMethod %}
    {# If the order requires a shipping method be selected, you could redirect back to the shipping page until
       one is applied to the order (`{% redirect "shop/checkout/shipping" %}`) #}
    {# <div class="checkout__box checkout__box--section">
      <strong>Versand</strong> nicht ausgewählt.
      <a href="{{ url('shop/checkout/shipping') }}">
        Eine Versandart auswählen.
      </a>
    </div> #}
  {% endif %}

  <div class="checkout__box checkout__box--section">
    {# <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Versand:
      </div>
      <div>
        {{ cart.totalShippingCost|commerceCurrency(cart.currency) }}
      </div>
    </div> #}
    {#   <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Mwst:
      </div>
      <div>
        {{ cart.totalTax|commerceCurrency(cart.currency) }}
      </div>
    </div> #}





    {# {% if cart.orderAdjustments|length %} #}
    {# {% for adjustment in cart.orderAdjustments %} #}
    <div class="checkout__box--adjustments-detail">

      {% for adjustment in cart.adjustments %}
        <div class="summary__price">
          <div class="summary__price--title">
            {% if adjustment.type == "shipping" %}
              <span class="special-font-size">Versand:</span>
            {% elseif adjustment.type == "tax" %}
              <span>Steuer:  {% for item in cart.lineItems %}{{ item.articleNumber }} {% endfor %}</span>

            {% elseif adjustment.name == "Rundung" %}
              <span>Rundung:</span>

            {% else %}
              <span>{{ adjustment.name }}</span>
            {% endif %}
          </div>
          <div {% if adjustment.type == "shipping" %}class="special-font-size" {% endif %}>
            {{ adjustment.amount|commerceCurrency(cart.currency) }}
          </div>
        </div>
      {% endfor %}
    </div>


    {% if cart.totalDiscount < 0 %}
      <div class="summary__price">
        <div class="summary__price--title">
          Rabatt Artikel gesamt:
        </div>
        <div>
          {{ (cart.totalDiscount * 1)|commerceCurrency(cart.currency) }}
        </div>
      </div>
    {% endif %}
    {#          {% if cart.shippingMethodHandle == 'B2C_pickUpAtStore' %}
            <span>Rabatt Versand: {{ adjustment.name }}:</span>
          {% else %}
            <span>Versand:</span>
          {% endif %}
        </div>
        <div>
          {{ adjustment.amount|commerceCurrency(cart.currency) }}
        </div> #}

    {# {% endif %} #}

    {#    <div class="summary__price summary__price--small">
      <div class="summary__price--title ">
        (Mwst.:
      </div>
      <div>
        {{ cart.totalTaxIncluded|commerceCurrency(cart.currency) }})
      </div>
    </div> #}

    <div class="summary__price">
      <div class="summary__price--title summary__price--title-bold">
        Endsumme:
      </div>
      <div class="summary__price--number summary__price--number-bold">
        {{ cart.totalPrice|commerceCurrency(cart.currency) }}
      </div>
    </div>

  </div>
  {% if
    cart.currency != cart.paymentCurrency
    and cart.totalPrice == cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Zahlung {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{ cart.totalPrice|commerceCurrency(cart.paymentCurrency, convert = true) }}
      </div>
    </div>
  {% endif %}
  {% if
    cart.hasOutstandingBalance
    and cart.totalPrice != cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Ausstehender Saldo {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{ cart.outstandingBalance|commerceCurrency(
          cart.paymentCurrency,
          convert = true
        ) }}
      </div>
    </div>
  {% endif %}


</div>
