<!-- Template: {{ _self }}.twig -->
{# Allow passing of cart into partial #}
{% set cart = cart is not defined ? craft.commerce.carts.cart : cart %}

{% if showShippingAddress is not defined %}
  {% set showShippingAddress = false %}
{% endif %}

{% if showShippingMethod is not defined %}
  {% set showShippingMethod = false %}
{% endif %}

<div class="checkout__box checkout__box-summary">
  <h3 class="heading heading--3 heading--no-margin-top">
    Bestellübersicht
  </h3>

   {% if cart.shippingMethodHandle != 'pickUpAtStore' %}
    {% if showShippingAddress %}
      <div class="">
        <h4 class="heading heading--4 heading--no-margin-top">
          Versand nach:
        </h4>
        {% if cart.shippingAddress %}
          <div class="address-select js-address-select border-0">
            {% include 'shop/_includes/addresses/address' with {
              address: cart.shippingAddress
            } %}
          </div>
        {% else %}
          <p>
            Keine Versandadresse ausgewählt.
          </p>
        {% endif %}

        {% if currentUser %}
          <a class="edit button button--edit button--secondary"
            href="{{ url('shop/checkout/addresses') }}">
            Adresse bearbeiten
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  {% if showShippingMethod %}
    <div class="checkout__box checkout__box--section">
      <h4 class="font-semibold mt-3">
        Versandart
      </h4>

      <div>
        {% if cart.shippingMethod %}
          {{ cart.shippingMethod.name }}
        {% else %}
          keine Versandart ausgwählt.
        {% endif %}
      </div>
    </div>
  {% endif %}

  <h4 class="heading layout-helper__margin-top--xxs">
    Artikel
  </h4>
  {% for item in cart.lineItems %}
    <div class="flex w-full justify-between">
      <div class="flex justify-between mr-3 overflow-hidden items-center">
        <div class="truncate">
          {{ item.description }}
        </div>
        <div class="text-gray-500 text-xs uppercase">
          {% if item.qty %}
            &times;{{ item.qty }}
          {% endif %}
        </div>
      </div>
      <div>
        {{ item.subtotal|currency(cart.currency) }}
      </div>
    </div>
  {% else %}
    <div class="mb-3">
      <p>
        Der Warenkorb ist leer, <a class="underline text-blue-500"
          href="{{ url('shop/produkte') }}">
          etwas hinzufügen
        </a>.
      </p>
    </div>
  {% endfor %}

  {% if not cart.shippingMethod %}
    {# If the order requires a shipping method be selected, you could redirect back to the shipping page until
       one is applied to the order (`{% redirect "shop/checkout/shipping" %}`) #}
    <div class="checkout__box checkout__box--section">
      <strong>Versand</strong> nicht ausgewählt.
      <a href="{{ url('shop/checkout/shipping') }}">
        Eine Versandart auswählen.
      </a>
    </div>
  {% endif %}

  <div class="checkout__box checkout__box--section">
    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Versand:
      </div>
      <div>
        {{ cart.totalShippingCost|commerceCurrency(cart.currency) }}
      </div>
    </div>
    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Steuer:
      </div>
      <div>
        {{ cart.totalTax|commerceCurrency(cart.currency) }}
      </div>
    </div>
    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Steuer (inkl.):
      </div>
      <div>
        {{ cart.totalTaxIncluded|commerceCurrency(cart.currency) }}
      </div>
    </div>
    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Rabatt:
      </div>
      <div>
        {% if cart.shippingMethodHandle == 'pickUpAtStore' %}

          {# 92.50 #}
          {% set totalcartDiscount = (cart.totalDiscount * - 1) %}

          {% set totalPricePlusTax = (cart.totalPrice) +  (totalcartDiscount) %}

          {# Abholrabatt 87.50 #}
          {% set pickupDiscount = (totalPricePlusTax * (5/100)) %}

          {# Abholrabatt und andere Rabatte zusammenrechnen #}
          {% set totalSumDiscount =  totalcartDiscount + pickupDiscount %}

          {{ ((totalSumDiscount) )|commerceCurrency(cart.currency) }}
        {% else %}

          {{ (cart.totalDiscount * - 1)|commerceCurrency(cart.currency) }}
        {% endif %}

      </div>
    </div>

     {% if cart.orderAdjustments|length %}
        {% for adjustment in cart.orderAdjustments %}
        <div class="flex w-full justify-end items-center text-xs text-gray-500">
          <div class="pr-2">
            <span>Rabatt ({{ adjustment.description }} )</span>
            <span>{{ adjustment.name }}</span>
          </div>
          <div>
            {{ adjustment.amount|commerceCurrency(cart.currency) }}
          </div>
        </div>
         {% endfor %}
    {% endif %}


    <div class="flex w-full justify-end items-center">
      <div class="text-gray-600 pr-2">
        Total:
      </div>
      <div class="text-lg font-bold">
        {% if cart.shippingMethodHandle == 'pickUpAtStore' %}

          {# {% set pickupDiscount = (totalPricePlusTax * (5/100)) %} #}

          {% set totalPriceMinusPickupDiscount = ((cart.totalPrice) - pickupDiscount) %}
          {{ totalPriceMinusPickupDiscount|commerceCurrency(cart.currency) }}

        {% else %}

          {{ cart.totalPrice|commerceCurrency(cart.currency) }}

        {% endif %}
      </div>
    </div>
  </div>
  {% if
    cart.currency != cart.paymentCurrency
      and cart.totalPrice == cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Zahlung {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{
          cart.totalPrice|commerceCurrency(cart.paymentCurrency, convert = true)
        }}
      </div>
    </div>
  {% endif %}
  {% if
    cart.hasOutstandingBalance
      and cart.totalPrice != cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Ausstehender Saldo {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{
          cart.outstandingBalance|commerceCurrency(
            cart.paymentCurrency,
            convert = true
          )
        }}
      </div>
    </div>
  {% endif %}
</div>
