<!-- Template: {{ _self }}.twig -->
{# Allow passing of cart into partial #}
{% set cart = cart is not defined ? craft.commerce.carts.cart : cart %}

{% if showShippingAddress is not defined %}
  {% set showShippingAddress = false %}
{% endif %}

{% if showShippingMethod is not defined %}
  {% set showShippingMethod = false %}
{% endif %}

<div class="checkout__box checkout__box-summary">
  <h3 class="heading heading--3 heading--no-margin-top">
    Bestellübersicht
  </h3>

   {% if cart.shippingMethodHandle != 'B2C_pickUpAtStore' %}
    {% if showShippingAddress %}
      <div class="">
        <h4 class="heading heading--4 heading--no-margin-top">
          Versand nach:
        </h4>
        {% if cart.shippingAddress %}
          <div class="address-select js-address-select border-0">
            {% include 'shop/_includes/addresses/address' with {
              address: cart.shippingAddress
            } %}
          </div>
        {% else %}
          <p>
            Keine Versandadresse ausgewählt.
          </p>
        {% endif %}

        {% if currentUser %}
          <a class="edit button button--edit button--secondary"
            href="{{ url('shop/checkout/addresses') }}">
            Adresse bearbeiten
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  {% if showShippingMethod %}
    <div class="checkout__box checkout__box--section">
      <h4 class="font-semibold mt-3">
        Versandart
      </h4>

      <div>
        {% if cart.shippingMethod %}
          {{ cart.shippingMethod.name }}
        {% else %}
          keine Versandart ausgwählt.
        {% endif %}
      </div>
    </div>
  {% endif %}

  <h4 class="heading layout-helper__margin-top--xxs">
    Artikel
  </h4>
  {% for item in cart.lineItems %}
    <div class="flex w-full justify-between">
      <div class="flex justify-between mr-3 overflow-hidden items-center">
        <div class="truncate">
           {% if item.qty %}
            {{ item.qty }}&times;
          {% endif %}
          {{ item.description }}
        </div>

      </div>

      {% if item.options.giftWrapped is defined or item.options.giftNote is defined %}
        <div class="">
          {{ item.total|currency(cart.currency) }}
        </div>
      {% else %}
        <div>
          {{ item.subtotal|currency(cart.currency) }}
        </div>
      {% endif %}

    </div>
     {% if item.note %}
        <div class="mt-1 flex">
            <div class="pr-2 uppercase">Notiz</div>
            <div>{{ item.note }}</div>
        </div>
      {% endif %}

  {% else %}
    <div class="mb-3">
      <p>
        Der Warenkorb ist leer, <a class="underline text-blue-500"
          href="{{ url('shop/produkte') }}">
          etwas hinzufügen
        </a>.
      </p>
    </div>
  {% endfor %}

  {% if not cart.shippingMethod %}
    {# If the order requires a shipping method be selected, you could redirect back to the shipping page until
       one is applied to the order (`{% redirect "shop/checkout/shipping" %}`) #}
    <div class="checkout__box checkout__box--section">
      <strong>Versand</strong> nicht ausgewählt.
      <a href="{{ url('shop/checkout/shipping') }}">
        Eine Versandart auswählen.
      </a>
    </div>
  {% endif %}

  <div class="checkout__box checkout__box--section">
    {# <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Versand:
      </div>
      <div>
        {{ cart.totalShippingCost|commerceCurrency(cart.currency) }}
      </div>
    </div> #}

    {# <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Mwst:
      </div>
      <div>
        {{ cart.totalTax|commerceCurrency(cart.currency) }}
      </div>
    </div> #}

    {# {% if cart.totalDiscount|length  %}
    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Rabatt:
      </div>
      <div>
         {{ (cart.totalDiscount * -1)|commerceCurrency(cart.currency) }}
      </div>
    </div>
    {% endif %} #}

    {# {% if cart.orderAdjustments|length %} #}
      {% for adjustment in cart.orderAdjustments %}
        <div class="flex w-full justify-end items-center text-xs text-gray-500">
          <div class="pr-2">
            {# <span>Versand ({{ adjustment.description }} ) - {{ adjustment.name }}:</span> #}
            {# <span>Versand ({{ adjustment.name }} ):</span> #}
            {% if cart.shippingMethodHandle == 'B2C_pickUpAtStore' %}
              <span>Rabatt ({{ adjustment.name }} ):</span>

            {% else %}
            <span>Versand:</span>

            {% endif %}
          </div>
          <div>
            {{ adjustment.amount|commerceCurrency(cart.currency) }}
          </div>
        </div>
      {% endfor %}
    {# {% endif %} #}

    <div class="flex w-full justify-end items-center text-xs text-gray-500">
      <div class="pr-2">
        Mwst. (inkl.):
      </div>
      <div>
        {{ cart.totalTaxIncluded|commerceCurrency(cart.currency) }}
      </div>
    </div>



    <div class="flex w-full justify-end items-center">
      <div class="text-gray-600 pr-2">
        Total:
      </div>
      <div class="text-lg font-bold">
          {{ cart.totalPrice|commerceCurrency(cart.currency) }}
      </div>
    </div>
  </div>
  {% if
    cart.currency != cart.paymentCurrency
      and cart.totalPrice == cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Zahlung {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{
          cart.totalPrice|commerceCurrency(cart.paymentCurrency, convert = true)
        }}
      </div>
    </div>
  {% endif %}
  {% if
    cart.hasOutstandingBalance
      and cart.totalPrice != cart.getOutstandingBalance() %}
    <div class="mt-1 flex w-full justify-end">
      <div class="text-gray-600 pr-2">
        Ausstehender Saldo {{ cart.paymentCurrency }}:
      </div>
      <div>
        {{
          cart.outstandingBalance|commerceCurrency(
            cart.paymentCurrency,
            convert = true
          )
        }}
      </div>
    </div>
  {% endif %}
</div>
