<!-- Template: {{ _self }}.twig -->
{% set checkoutSteps = [
  {
    label: 'E-Mail',
    url: 'shop/checkout/email'
  },
  {
    label: 'Profil',
    url: 'shop/checkout/register-signin'
  },
  {
    label: 'Addresse',
    url: 'shop/checkout/addresses'
  },
  {
    label: 'Versand',
    url: 'shop/checkout/shipping'
  },
  {
    label: 'Zahlungsmöglichkeiten',
    url: 'shop/checkout/payment-method'
  },
  {
    label: 'Zahlung',
    url: 'shop/checkout/payment'
  }
] %}

{% set totalSteps = checkoutSteps|length %}

{% if width is not defined %}
  {% set width = 0 %}
{% endif %}

{% if
  'checkout' in craft.app.request.pathInfo
    and 'pay-static' not in craft.app.request.pathInfo %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="payment-steps">
          <nav class="payment-steps__nav">
            {% for step in checkoutSteps %}
              {% if step.url in craft.app.request.pathInfo %}
                {% set width = loop.index * 100 / totalSteps - 10 %}
              {% endif %}
              <a href="{{ url(step.url) }}"
                class="payment-steps__nav--link
            {{
                step.url in craft.app.request.pathInfo
                  ? ''
                  : ''
                }}
      ">
                {{ step.label }}
              </a>
            {% endfor %}
          </nav>
          <div class="payment-steps__bar" style="width:100%;"></div>
          <div class="payment-steps__bar--active"
            style="width:{{ width }}%;"></div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
