{% set purchasableId = purchasableId ?? 0 %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% set addedToCart = success is defined %}
{% set informBackInStock = success is defined %}

{% if addedToCart %}
  <script>
    htmx.trigger(htmx.find('#cart'), 'refresh');
  </script>
{% endif %}

{% if sprig.isRequest %}
  <script>
    htmx.trigger('#cartsize', 'refresh');
    htmx.trigger('#cartsizemobile', 'refresh');
  </script>
{% endif %}

{% set productQuery = craft.products() %}
{% set product = craft.products.id(productId).one() %}
{% set variant = product.defaultVariant %}

<a href="/shop" class="product-detail__button-back product-detail__button-back-arrow">Zurück zur Shop-
  Übersicht</a>

<!-- Template: {{ _self }}.twig -->
<h1 class="heading heading--2 layout-helper__margin-top--s">
  {{ product.defaultVariant.title }}
</h1>

<div class="row">
  <div class="col col-xs-12 col-md-6 col-lg-6">
    <div class="product-detail__image">

      {% set transform = transformation|default('productDetail') %}
      {% set img = product.articleImage.one() ?? null %}

      {% if img is defined %}
        {% include '_components/_content-elements/image'
          with {
          img: img,
          transform: transform
        } %}
      {% endif %}

    </div>
  </div>
  <div class="col col-xs-12 col-md-6 col-lg-6">


    <form class="js-form product-detail__form">
      {{ hiddenInput(
        'successMessage',
        ('Artikel ' ~ product.title ~ ' wurde zum Warenkorb hinzugefügt.')|hash
      ) }}
      <div class="product-detail__form-addtobasket">
        {% for variant in product.variants %}
          <div class="form-addtobasket__info">
            {% if variant.articleVolume %}
              <div class="form-addtobasket__info-variant">
                <span> {{ variant.articleVolume }}{{ variant.articleVolumeUnit }}</span>
              </div>
            {% endif %}


            <div class="form-addtobasket__options selection--checkbox">
              {% set checkGift = checkGift ?? false %}
              <input
                type="checkbox"
                id="giftwrapped"
                name="options[giftWrapped]"
                value="yes"
                class="selection__input"
                {{ checkGift ? 'checked' }}
              />
              <label for="giftwrapped" class="selection__label">

                Geschenkband mit Masche anbringen (+ 4.50 CHF)
              </label>
            </div>

            <div class="form-addtobasket__options selection--checkbox">
              {% set checkNote = checkNote ?? false %}
              <input
                type="checkbox"
                id="giftnote"
                name="options[giftNote]"
                value="yes"
                class="selection__input"
                {{ checkNote ? 'checked' }}
              />
              <label for="giftnote" class="selection__label">

                Karte nach Wunsch beschriften (+ 6.00 CHF)
              </label>
              <textarea id="" class="input" type="text" name="note" value="" placeholder="Text für Grusskarte"
                        rows="2"></textarea>
              {{ hiddenInput('purchasableId', variant.id) }}
            </div>


            <div class="form-addtobasket__info-pricestockadd">
              <div class="form-addtobasket__info-pricestock">
                <div class="form-addtobasket__info-price">
                  {% if variant.onSale %}
                    <del>
                      {{ variant.priceAsCurrency }}
                    </del>
                    <br/>{{ variant.salePriceAsCurrency }}
                  {% else %}

                    {% include '/shop/produkte/_includes/prices.twig' %}

                  {% endif %}
                </div>

                <div class="form-addtobasket__info-stock">
                  {% if variant.stock > 0 or variant.hasUnlimitedStock %}
                    <span class="form-addtobasket__info-stock-in">verfügbar</span>
                  {% else %}
                    <span class="form-addtobasket__info-stock-out">momentan nicht verfügbar</span>
                  {% endif %}
                </div>
              </div>


              <div class="form-addtobasket__info-add">
                <div class="form-addtobasket__info-quantity">
                  <input class="input form-addtobasket__info-quantity--input"
                         type="text"
                         name="qty"
                         value="1"
                         step="1"
                         min="1"
                    {% if variant.stock < 0 %}
                      disabled
                    {% endif %}
                  />
                </div>

                <div class="form-addtobasket__info-button">
                  {% if variant.stock > 0 or variant.hasUnlimitedStock %}
                    <a sprig s-action="commerce/cart/update-cart" s-method="post"
                       s-val:purchasable-id="{{ variant.id }}" href="#"
                       class="button--primary {% if addedToCart and purchasableId == variant.id %}button--success {% endif %} text-center">
                      {% if addedToCart and purchasableId == variant.id %}
                        <svg class="icon--svg icon--check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                          <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"/>
                        </svg>
                        <span>Im Warenkorb</span>
                      {% else %}
                        In den Warenkorb
                      {% endif %}
                    </a>
                  {% else %}
                    <button disabled type="submit"
                            class="disabled button button--primary text-center">nicht verfügbar
                    </button>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        {% endfor %}

        {# Outputs a hidden input field #}
        {{ craft.snaptcha.field }}

      </div>
    </form>

    {% include 'shop/produkte/_includes/detail-summary__gift' %}

  </div>

</div>
