{% extends '/_layouts/main' %}

{# {% block main %} #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# {% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title
%} #}
  <section class="grid">
  <div class="row">
    <div class="col col-xs-12 col-md-12 col-lg-12">
      <h2 class="heading heading--2 heading--no-margin">
        Shop
      </h2>


      <div class="">
        {{ sprig('sprig/components/filters/_components/filters') }}
      </div>

      {#    {% paginate craft.products.limit(6) as pageInfo, pageProducts %}

    {{ include('shop/produkte/_includes/grid', { products: pageProducts }) }}
    {{ include('shop/produkte/_includes/pagination', { products: pageProducts, pageInfo: pageInfo }) }} #}


       {# {% paginate craft.products.limit(20) as pageInfo, pageProducts %} #}

      {# {{ include('shop/produkte/_includes/grid', { products: pageProducts }) }} #}

        {# <section class="grid">
          <div class="row">
            <div class="col col-xs-12 col-md-12 col-lg-12">
            {% include 'shop/produkte/_includes/pagination' with {
              products: pageProducts,
              pageInfo: pageInfo
            } %}

            </div>
        </div>
      </section> #}


      </div>
    </div>
  </section

  {# If the following JavaScript code is uncommented, it will submit forms on this page over HTTP and
       receive a JSON response #}

  {# --- delete this line to uncomment JS ---
    {% js %}
        document.querySelectorAll('form.js-form').forEach(form => {
            form.addEventListener("submit", function(e) {
                console.log('subsmitting');
                e.preventDefault();
                var data = new FormData(this);
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json'
                    },
                    body: data,
                })
                    .then(response => response.json())
                    .then(result => {
                        alert(result.message);
                        console.log('Success:', result);
                    })
                    .catch(error => {
                        alert(result.message);
                        console.error('Error:', error);
                    });
            });
        });
    {% endjs %}
    {# --- #}
{% endblock %}
