{% extends '/_layouts/main' %}

{% set addresses = craft.commerce.customers.customer.addresses %}

{% set userExists = craft.users.email(cart.email ?? 'NULL').one() %}

 {% set customer = craft.commerce.customers.customer %}
{% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
{% set primaryShippingAddress = customer.getPrimaryShippingAddress() %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-6 col-lg-5">
        {% include 'shop/checkout/_includes/order-summary' %}
      </div>

      <div class="col col-xs-12 col-md-6 col-lg-7">
        <h2 class="heading heading--2 heading--no-margin-top">
          Wohin soll die Bestellung versendet werden?
        </h2>

        <div class="">


          <form method="post" action="">
            {{ csrfInput() }}
            {{ actionInput('commerce/cart/update-cart') }}
            {{ successMessageInput('Addresses selected.') }}
            {{ redirectInput('shop/checkout/shipping') }}

            {% if not cart.email %}
              <div class="mb-6">
                <label for="email">{{ 'Email'|t }}</label>
                {{ input('email', 'email', cart.email, {
                  id: 'email',
                  placeholder: 'email@site.com',
                  class: ['w-full', 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded']
                }) }}
                <span class="flash">{{ cart.getErrors('email')|join }}</span>
              </div>
            {% endif %}

            {{ include('shop/_includes/addresses/fieldset', {
              title: 'Shipping Address'|t,
              class: 'ShippingAddress',
              name: 'shippingAddress'
            }) }}

            {# Wenn schon Kunde vorhanden #}
            {% if userExists %}
            {{ hiddenInput('billingAddressSameAsShipping', 0) }}
            <div class="selection--checkbox">
              {{ input('checkbox', 'billingAddressSameAsShipping', 1, {
                id: 'billingAddressSameAsShipping',
                class: "selection__input",
                checked: true
              }) }}
              <label for="billingAddressSameAsShipping" class="selection__label">
                {{ 'Gewählte Adresse auch als Rechnungsadresse verwenden'|t }}
              </label>

              <a class="forms__checkout--link link"
                 href="{{ url('shop/customer/addresses/edit') }}">
                Neue Adresse hinzufügen
              </a>

              {# Ansonsten, wenn Gäste Checkout #}
              {% else %}
              {{ hiddenInput('billingAddressSameAsShipping', 0) }}
              <div class="selection--checkbox">
                {{ input('checkbox', 'billingAddressSameAsShipping', 1, {
                  id: 'billingAddressSameAsShipping',
                  class: "selection__input",
                  checked: true
                }) }}
                <label for="billingAddressSameAsShipping" class="selection__label">
                  {{ 'Gewählte Adresse auch als Rechnungsadresse verwenden'|t }}
                </label>

                <div class="forms__checkout--link">
                  <h3>Rechnungsadresse</h3>
                  {{ include('shop/_includes/addresses/fieldset', {
                    title: 'Billing Address'|t,
                    class: 'BillingAddress',
                    name: 'billingAddress'
                  }) }}
                </div>
                {% endif %}

              </div>


              {% if userExists %}
                <div class="cart-container__checkboxes">

                  <div class="selection--checkbox">
                    {{ input('checkbox', 'makePrimaryShippingAddress', 1, {
                      id: 'makePrimaryShippingAddress',
                      class: "selection__input",
                    }) }}
                    <label for="makePrimaryShippingAddress" class="selection__label">
                      {{ 'Gewählte Adresse als primäre Versandadresse festlegen'|t }}
                    </label>
                  </div>

                  <div class="mt-8">
                    {{ include('shop/_includes/addresses/fieldset', {
                      title: 'Billing Address'|t,
                      class: 'BillingAddress hidden',
                      name: 'billingAddress'
                    }) }}
                  </div>


                  <div class="selection--checkbox">
                    {{ input('checkbox', 'makePrimaryBillingAddress', 1, {
                      id: 'makePrimaryBillingAddress',
                      class: "selection__input",
                    }) }}
                    <label for="makePrimaryBillingAddress" class="selection__label">
                      {{ 'Gewählte Adresse als primäre Rechnungsadresse festlegen'|t }}
                    </label>
                  </div>
                </div>

                <div>
                  Adressen können auch im <a href="/shop/customer" class="link">
                    Profil
                  </a> verwaltet und geändert werden.
                </div>
              {% endif %}

              {% if not userExists %}
                <div class="checkout__steps">
                  <div class="checkout__steps--button">
                    <input type="submit"
                           class="input input__primary"
                           value="Adresse bestätigen und weiter"/>
                  </div>
                </div>

              {% else %}

                {% if customer.addresses|length %}
                  <div class="checkout__steps">
                    <div class="checkout__steps--button">
                      <input type="submit"
                             class="input input__primary"
                             value="Adresse bestätigen und weiter"/>
                    </div>
                  </div>
                {% else %}
                  <div>
                    Noch keine Adressen hinterlegt.
                    <a class="button button--primary"
                       href="{{ url('shop/customer/addresses/edit') }}">
                      neue Adresse hinzufügen
                    </a>
                  </div>
                {% endif %}
              {% endif %}


          </form>

        </div>
      </div>
    </div>
  </section>

  {% js %}var $fieldsets = document.querySelectorAll('.js-address-fieldset');

    if ($fieldsets && $fieldsets.length) { $fieldsets.forEach(function (el) { var
    $addressSelects = el.querySelectorAll('.js-address-select');

    if ($addressSelects && $addressSelects.length) {
    $addressSelects.forEach(function(el) { var $radio =
    el.querySelector('.js-radio input'); var $body = el.querySelector('.js-body');

    if ($radio) { if ($body) { // Creating new address
    $radio.addEventListener('change', function(ev) { if (ev.target.checked) {
    $body.classList.remove('hidden'); } else { $body.classList.add('hidden'); }
    });

    if ($radio.checked) { $body.classList.remove('hidden'); } } else { //
    Selecting existing address $radio.addEventListener('change', function(ev) { if
    (ev.target.checked) { var $newBox =
    document.querySelector('.js-address-select[data-model-name="' +
    ev.target.dataset.modelName + '"]'); if ($newBox) {
    $newBox.querySelector('.js-body').classList.add('hidden'); } } }); } } }); }
    }); }

    var $billingSameAs = document.querySelector('#billingAddressSameAsShipping');
    if ($billingSameAs) { $billingSameAs.addEventListener('change', function(ev) {
    var $billingFieldSet =
    document.querySelector('.js-address-fieldset.BillingAddress');
    $billingFieldSet.classList.toggle('hidden'); });{% if
    (cart.billingAddressId and cart.billingAddress.hasErrors())
    or cart.billingAddressId != cart.shippingAddressId %}
    $billingSameAs.click();
  {% endif %}}{% endjs %}
{% endblock %}
