{% if currentUser %}
  {% redirect 'shop/checkout/addresses' %}
{% endif %}

{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h3 class="heading heading--3">
          Bitte geben Sie zuerst Ihre E-Mail Adresse ein.
        </h3>

        <form method="post" action="" class="flex checkout">
          {{ actionInput('commerce/cart/update-cart') }}
          {{ redirectInput('shop/checkout/register-signin') }}
          {{ csrfInput() }}

          <div class="checkout__flex-field">
            <label for="email">E-Mail</label>
            <input id="email"
              class="input"
              type="text"
              value="{{ cart.email }}"
              name="email"
              placeholder="email@website.ch" />
          </div>

          <div class="">
            <input type="submit"
              value="Weiter"
              class="input input__secondary" />
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
