{% extends '/_layouts/main' %}

{% block content %}
     {% set availableGateways = craft.commerce.gateways.getAllCustomerEnabledGateways %}

    {% if not cart.gateway %}
      {% redirect 'shop/checkout/payment-method' %}
    {% endif %}

<section class="grid">
  <div class="row">

    <div class="col col-xs-12 col-md-12 col-lg-9 col-lg-shift-3">
      {% include "shop/checkout/_includes/order-summary" with { showShippingAddress: true, showShippingMethod: true } %}

      {# Payment form #}
      {% if cart.gatewayId or cart.paymentSourceId %}
        {% if paymentForm is defined %}
          {% for key, errors in paymentForm.getErrors() %}
            {% for error in errors %}
              {% if loop.first %}<ul>{% endif %}
              <li class="text-red-600"><strong>{{ key }}</strong> {{ error }}</li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}

        <div class="checkout__box checkout__box--button">

          <form method="post" action="" class="js-paymentSource-form" id="paymentForm">
            {{ actionInput('commerce/payments/pay') }}
            {{ redirectInput(siteUrl('shop/customer/order', { number: cart.number, success: 'true' })) }}
            {{ hiddenInput('cancelUrl', siteUrl('shop/checkout/payment')|hash) }}
            {{ hiddenInput('fields[orderNotes]', '') }}

            {# {% set id = 4 %}
                        {% if id == cart.gatewayId %}
                          {{ successMessageInput('Vielen Dank! Ihre Bestellung wurde abgeschickt') }}
                          {{ hiddenInput('action', 'commerce/cart/complete') }}
                          {{ redirectInput('/shop/customer/order?number='~cart.number~'&success=true') }}

                          {% else %}
                            {{ actionInput('commerce/payments/pay') }}
                            {{ redirectInput(siteUrl('shop/customer/order', { number: cart.number, success: 'true' })) }}
                            {{ hiddenInput('cancelUrl', siteUrl('shop/checkout/payment')|hash) }}
                          {% endif %} #}

            {# {{ actionInput('commerce/cart/update-cart') }} #}

            {{ hiddenInput('orderEmail', cart.email) }}

            {{ csrfInput() }}
            {% if cart.gatewayId %}

              {{ hiddenInput('gatewayId', cart.gatewayId) }}
              {% set params = {} %}

              {# Set gateway-specific parameters #}
              {% if className(cart.gateway) == 'craft\\commerce\\paypalcheckout\\gateways\\Gateway' %}
                {% set params = { currency: cart.paymentCurrency } %}
              {% endif %}

              {{ cart.gateway.getPaymentFormHtml(params)|raw }}

              {% if cart.gateway.supportsPaymentSources() and currentUser %}
                <div class="checkbox">
                  <label><input type="checkbox" name="savePaymentSource"
                                value="1"/> {{ "Angaben für spätere Einkäufe sichern" }}</label>
                </div><br/>
              {% endif %}

            {% else %}
              {{ cart.gateway.getPaymentConfirmationFormHtml({})|raw }}
            {% endif %}

            <div class="add-address-info">
              <p class="add-address-info__text">zusätzliche Informationen für die Bestellung</p>
              <textarea name="fields[orderNotes]" value="" class="input" cols="20"
                        rows="3"></textarea>
            </div>


            {% set user = craft.users.email(cart.email).one() %}
            {% if not user %}
              <div class="checkout__box--requirements">
                <div class="selection selection--checkbox">
                  <input type="checkbox" id="registerUserOnOrderComplete"
                         class="requirements__checkbox selection__input"
                         name="registerUserOnOrderComplete"
                         value="1"/>
                  <label for="registerUserOnOrderComplete" class="requirements__label selection__label">
                    {{ hiddenInput('registerUserOnOrderComplete', false) }}
                    <span>Für ein Kundenkonto registrieren</span>
                  </label>
                </div>
              </div>
            {% endif %}

            <div class="checkout__box--requirements">
              <div class="selection selection--checkbox">
                <input type="checkbox" id="termsAgreement" name="termsAgreement"
                       class="requirements__checkbox selection__input"
                       value="1" required/>
                <label for="termsAgreement" class="requirements__label selection__label">
                  {{ hiddenInput('termsAgreement', false) }}
                  <span>Ich bin mit <a href="/agb" class="requirements__links">den AGB</a> einverstanden</span>
                </label>
              </div>

              <div class="selection selection--checkbox">
                <input type="checkbox" id="overEighteen" name="overEighteen"
                       class="requirements__checkbox selection__input" value="1"
                       required/>
                <label for="overEighteen" class="requirements__label selection__label">
                  {{ hiddenInput('overEighteen', false) }}
                  {{ "Hiermit bestätige ich, dass ich mindestens 18 Jahre alt bin" }}
                </label>
              </div>
            </div>


            {# Only show the payment button for gateways that don't provide their own #}
            {% if className(cart.gateway) not in [
              'craft\\commerce\\paypalcheckout\\gateways\\Gateway',
            ] %}
              <div class="checkout__box--button">
                <button class="button button--primary" type="submit">
                  {% set id = 4 %}
                  {% if id == cart.gatewayId %}
                    Bestellung abschicken
                  {% else %}
                    {{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }} jetzt bezahlen
                  {% endif %}
                </button>
              </div>
            {% endif %}

            {# Outputs a hidden input field #}
            {# {{ craft.snaptcha.field }} #}

          </form>
        </div>
      {% endif %}
    </div>

  </div>
  <section>

    {% js %}
      var $paymentForm = document.querySelector('#paymentForm');

      if ($paymentForm) {
      $paymentForm.addEventListener('submit', function(ev) {
      if ($paymentForm.dataset.processing) {
      ev.preventDefault();

      return false;
      }

      $paymentForm.dataset.processing = true;
      });
      }
    {% endjs %}
    {% endblock %}
