{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-8 col-lg-8">
        <h3 class="heading heading--3">
          Wie würden sie gerne bezahlen?
        </h3>

        {# Get the available payment sources the user has to be used later in this page #}
        {% set paymentSources =
          craft.commerce.paymentSources.allPaymentSourcesByUserId(
            currentUser.id ?? null
          )
        %}

        {# Get the available gateways to be used later in this page #}
        {% set availableGateways = craft.commerce.gateways.getAllCustomerEnabledGateways %}

        {# If there is no gateway, then payment sources won't work either #}
        {% if availableGateways is empty %}
          <p>
            Keine Bezahlmögichkeiten verfügbar.
          </p>
        {% endif %}


        {% if availableGateways|length %}
          <div class="mt-3">
            <form method="post" action="" class="forms__checkout relative border-b-1 mb-4">

            {{ actionInput('commerce/cart/update-cart') }}

              <div>

                  {% for id,name in availableGateways %}
                    <label class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer mt-3">
                      <div class="flex justify-start items-center">
                        <div class="pr-2">
                          <input type="radio" name="gatewayId" value="{{ id }}" {% if id == cart.gatewayId %}checked{% endif %} />
                        </div>
                        <div>
                          <strong>{{ name }}</strong>
                        </div>
                      </div>
                    </label>
                  {% endfor %}


                  <p> Bei Bezahlung auf Rechnung (30 Tage). Bitte haben Sie Verständnis, wenn wir in Einzelfällen eine abweichende Zahlungsweise erbitten.</p>

                      {# {% set id = 4 %}
                      {% if name == 'Rechnung' %}

                      <div class="checkout__steps">
                        <div class="checkout__steps--button">
                          <input type="submit"
                            name="submit"
                            class="input__primary input"
                            value="Bestellung abschicken" />
                        </div>
                      </div>

                      {% else %}

                       <div class="checkout__steps">
                        <div class="checkout__steps--button">
                          <input type="submit"
                            name="submit"
                            class="input__primary input"
                            value="weiter zur Bezahlung" />
                        </div>
                      </div>

                      {% endif %} #}

              </div>

              <div class="mt-3">
                {% include 'shop/checkout/_includes/gateways' with {
                  availableGateways: availableGateways,
                  paymentSources: paymentSources
                } %}
              </div>

                {# {% for id in availableGateways %}
                  {% set id = 4 %}
                  {% if id == cart.gatewayId %}
                    {{ successMessageInput('Vielen Dank! Ihre Bestellung wurde abgeschickt') }}
                    {{ hiddenInput('action', 'commerce/cart/complete') }}
                    {{ redirectInput('/shop/customer/order?number='~cart.number~'&success=true') }}

                    {% else %}
                      {{ redirectInput('shop/checkout/payment') }}
                    {% endif %}
                  {% endfor %} #}

              {{ redirectInput('shop/checkout/payment') }}
              {{ csrfInput() }}


              <div class="checkout__steps">
                <div class="checkout__steps--button">
                  <input type="submit"
                    name="submit"
                    class="input__primary input"
                    value="Weiter zu Zahlung" />
                </div>
              </div>



            </form>
          </div>
        {% endif %}

      </div>
      <div class="col col-xs-12 col-md-4 col-lg-4">
        {% include 'shop/checkout/_includes/order-summary' with {
          showShippingAddress: true,
          showShippingMethod: true
        } %}
      </div>
    </div>
  </section>
{% endblock %}
