{% extends '/_layouts/main' %}

{% block content %}
<!-- Template: {{ _self }}.twig -->
  <section class="grid">
    <div class="row">

       <div class="col col-xs-12 col-md-6 col-lg-6">
                {% include "shop/checkout/_includes/order-summary" with { showShippingAddress: true } %}
            </div>

      <div class="col col-xs-12 col-md-6 col-lg-6">

                <h2 class="heading heading--3 heading--no-margin-top">Bitte wählen Sie eine Versandart aus:</h2>

                <p>Klicken Sie bitte auf eine Versandart und drücken dann den Button "Versand wählen und weiter"</p>

                {# `cart.shippingMethods` only returns methods available to the order, per the shipping methods'
                  rules. You can create a catchall rule that matches all addresses if necessary. #}
                {% if cart.availableShippingMethodOptions|length < 2 and cart.shippingMethod %}
                    {% redirect 'shop/checkout/payment-method' %}
                {% endif %}

                {% if not cart.availableShippingMethodOptions|length %}
                  <p class="my-3 ">Keine Versandmöglichkeiten verfügbar.</p>
                  <div>
                    <a class="{{ classes.btn.base ~ ' ' ~ classes.btn.blue }}" href="{{ url('shop/checkout/payment-method') }}">weiter zur Bezahlung</a>
                  </div>
                {% endif %}

                {% if cart.availableShippingMethodOptions|length %}
                  <div class="mt-3">
                    <form method="post" class="forms__checkout">
                      {{ actionInput('commerce/cart/update-cart') }}

                       {% if cart.shippingMethodHandle == 'pickUpAtStore' %}
                          {{ hiddenInput('shippingSameAsBilling', 1) }}
                          {{ redirectInput('shop/checkout/payment') }}
                      {% else %}
                          {{ redirectInput('shop/checkout/payment-method') }}
                      {% endif %}
                      {{ csrfInput() }}

                      {% for handle, method in cart.availableShippingMethodOptions %}
                        <div class="js-shipping-select mt-2">
                          <label class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer">
                            <div class="flex justify-start items-center">
                              <div class="pr-2">
                                <input type="radio" name="shippingMethodHandle" value="{{ handle }}" {% if handle == cart.shippingMethodHandle %}checked{% endif %} />
                              </div>
                              <div>
                                {{ method.name }}<br>
                                <strong><span class="price">{{ method.getPrice()|commerceCurrency(cart.currency) }}</span></strong>
                              </div>
                            </div>
                          </label>
                        </div>
                      {% endfor %}


                      <span class="flash">{{ cart.getErrors('shippingMethod')|join }}</span>

                    <div class="checkout__steps">
                      <div class="checkout__steps--button">
                        <input type="submit" class="input input__primary" value="Versand wählen und weiter"/>
                      </div>
                    </div>
                    </form>
                  </div>
                {% endif %}

        </div>
      </div>
    </div>
  </section>

{% endblock %}
