{# Sets default values. #}

{% set articleCategoriesBlog = articleCategoriesBlog ?? [] %}
{% set orderBy = orderBy ?? 'postDate desc' %}

{% if reset is defined %}
   {% set articleCategoriesBlog = [] %}
{% endif %}

{% set page = page ?? 1 %}

{# Get options from category groups. #}
{% set catBlogOptions = craft.categories.group('catGroupForBlog').all() %}

{# Create an array of filters. #}
{% set filters = {
  orderBy: orderBy
} %}

{% set entryQuery =
  craft.entries(
    filters|merge({
      with: [
        [
          'articleCategoriesBlog',
          'image',
          {
            withTransforms: ['productListing']
          }
        ]
      ]
    })
  )
%}

{# {% set entryQuery = craft.entries.with(['image']) %} #}

{% if articleCategoriesBlog is not empty %}
  {% do entryQuery.andRelatedTo(articleCategoriesBlog) %}
{% endif %}

{% set entries = entryQuery.section('newsEntries').level(1).all() %}

{# Push the URL into the history stack with the filters, adding extra values. #}
{% do sprig.pushUrl(
  '?'
    ~ (filters
      |merge({
        page: page
      })
      |url_encode)
) %}

<div class="blog__board">

    <ul class="blog__cat--list">
      <li class="blog__cat--item blog__cat--item-reset">
        <a href="" sprig s-val:reset="1" title="Reset">Alle</a>
      </li>
      {% for catBlogOption in catBlogOptions %}
        <li class="blog__cat--item {{ catBlogOption.id in articleCategoriesBlog ? 'blog__cat--item-active' }}">
          <input sprig
            class="blog__cat--input"
            type="radio"
            id="catdeli-{{ catBlogOption.id }}"
            name="articleCategoriesBlog[]"
            value="{{ catBlogOption.id }}"
            {{ catBlogOption.id in articleCategoriesBlog ? 'checked' }} />
          <label for="catdeli-{{ catBlogOption.id }}"
            class="blog__cat--label">
            {{ catBlogOption.title }}
          </label>
        </li>
      {% endfor %}
    </ul>

    <div class="blog-list">
      {% if entries|length %}
        {% for entry in entries %}
          <div class="blog-list__item">
            <div class="blog-list__item--top">
            <a href="{{ entry.url }}">
              <h3 class="blog-list__item--title">
                {{ entry.title }}
              </h3>
            </a>
              {% if catBlogOptions is defined and catBlogOptions is not empty %}
                {% set categories = entry.catsForBlogEntries.all() %}
                <div class="blog-list__item--cat-container">
                  {% for cat in categories %}
                    <span class="blog-list__item--cat-item blog-list__item--cat-item--{% if cat.id == 16717 %}news{% elseif cat.id == 16718 %}recipe{% elseif cat.id == 16719 %}magazin{% endif %}">
                      {{ cat.title }}
                    </span>
                  {% endfor %}
                </div>
              {% endif %}

              <a href="{{ entry.url }}">
                <div class="blog-list__item--preview">
                  {% if
                    entry.contentElements is defined
                      and entry.contentElements is not empty %}

                    {% set transform = transformation|default('blogPreviewThumb') %}
                    {% set img = entry.image.one ?? generic.image.one() %}

                    {% if img is defined and img is not empty %}
                      {% include '_components/_content-elements/image' with {
                        img: img,
                        transform: transform
                      } %}
                    {% endif %}
                  {% endif %}

                </div>
                <div class="blog-list__item--preview-lead">
                  {{ entry.leadText }}
                </div>
              </a>

            </div>

              <a href="{{ entry.url }}"
                class="blog-list__item--linkdetail link link--button link--internal link--color-lightblue link--icon-after">
                <span class="link__text">
                {% if
                  entry.contentElements is defined
                    and entry.contentElements is not empty %}
                  mehr Informationen
                {% elseif
                  entry.recipes is defined and entry.recipes is not empty %}
                  mehr Informationen
                {% endif %}
                </span>
                <div class="link__icon-wrapper link__icon-wrapper--internal">
                  <svg class="link__icon link__icon--internal icon icon--42">
                    <path d="M36.907 21.411a.999.999 0 01-.089.133.95.95 0 01-.066.115l-7 8a1 1 0 11-1.504-1.318L33.796 22H6a1 1 0 010-2h27.796l-5.548-6.341a1 1 0 111.504-1.318l7 8a.95.95 0 01.066.115.999.999 0 01.089.133c.009.02.015.04.022.062a.96.96 0 01.037.16.991.991 0 01.027.157c0 .011.007.02.007.032s-.006.02-.007.032a.991.991 0 01-.027.156.96.96 0 01-.037.161c-.007.021-.013.042-.022.062z"></path>
                  </svg>
                </div>
              </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>

</div>
