<form method="post" accept-charset="UTF-8">
  {{ csrfInput() }}
  {{ actionInput('users/login') }}

  <label for="loginName">E-Mail</label>
  {{ input(
    'text',
    'loginName',
    craft.app.user.rememberedUsername,
    {
      id: 'loginName'
    }
  ) }}

  <label for="password">Passwort</label>
  {{ input(
    'password',
    'password',
    null,
    {
      id: 'password'
    }
  ) }}

  <label>
    {{ input('checkbox', 'rememberMe', '1') }}
    Remember me
  </label>

  <button type="submit">Login</button>

  {% if errorMessage is defined %}
    <p>
      {{ errorMessage }}
    </p>
  {% endif %}

  {# Outputs a hidden input field #}
  {{ craft.snaptcha.field }}

</form>

<p>
  <a href="{{ url('reset-password') }}">Passwort vergessen?</a>
</p>
