<mjml>
  <mj-body background-color="#ffffff" font-size="13px">
    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20">
      <mj-column width="100%">
        <mj-image src="https://terra-verde-staging.cl-eu-west-2.servd.dev/assets/images/logo/TerraVerde_jpg_email.jpg"
                  alt="Terra-Verde Logo" align="center" border="none" width="150px" padding-left="0px"
                  padding-right="0px" padding-bottom="10px" padding-top="10"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="0px" padding-top="0">
    </mj-section>
    <mj-section background-color="#fff" padding-bottom="0px" padding-top="0">
      <mj-column width="100%">
        <mj-text font-size="20px" color="#222" font-family="'Open Sans', Arial, sans-serif" padding-left="25px"
                 padding-right="25px" padding-bottom="30px" padding-top="20">Bestellung über die Website
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#f7f5f0" padding-bottom="15px" padding-top="15">
      <mj-column>
        <mj-table font-family="'Open Sans', Arial, sans-serif" font-size="15px">
          {% if order.user.userCompany is defined %}
            <tr>
              <td width="40%">
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                  <strong>Firma</strong></mj-text>
              </td>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px"
                         padding-top="20">{{ order.user.userCompany }}</mj-text>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td width="40%">
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                <strong>Kunde</strong></mj-text>
            </td>
            {% if order.user.fullName is defined %}
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px"
                         padding-top="20">{{ order.user.fullName }}</mj-text>
              </td>
            {% endif %}
          </tr>

          <tr>
            <td width="40%">
              <mj-text align="right" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"
                       text-align="right"><strong>Bestellnummer</strong></mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.reference }}</mj-text>
            </td>
          </tr>
          <tr>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"><strong>Bestelldatum</strong>
              </mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.dateOrdered|date('d. M Y') }}</mj-text>
            </td>
          </tr>
          <tr>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"><strong>Total
                  Artikel</strong></mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.itemSubTotal|commerceCurrency(order.currency) }}</mj-text>
            </td>
          </tr>

          {% for adjustment in order.orderAdjustments if adjustment.type != "shipping" and adjustment.type != "tax" %}
            {% if adjustment.amount|commerceCurrency(order.currency) %}
              <tr>
                <td>
                  <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                           padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                    <strong>{% if adjustment.name == "Rundung" %} Rundung {% else %} Abholrabatt {% endif %}</strong>
                  </mj-text>
                </td>
                <td>
                  <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                           padding-left="25px" padding-right="25px" padding-bottom="0px"
                           padding-top="20">{{ adjustment.amount|commerceCurrency(order.currency) }}</mj-text>
                </td>
              </tr>
            {% endif %}

          {% endfor %}

          {% if order.totalDiscountAsCurrency %}
            <tr>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"><strong>Kisten-Rabatt
                    <br/>(10% ab 6.Stk.)</strong></mj-text>
              </td>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px"
                         padding-top="20">{{ order.totalDiscountAsCurrency }}</mj-text>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td style="vertical-align: top">
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                <strong>Versand</strong></mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.getTotalShippingCost()|commerceCurrency(order.currency) }}
                - {{ order.shippingMethodName }}</mj-text>
            </td>
          </tr>

          {% if order.orderNotes %}
            <tr>
              <td style="vertical-align: top">
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"><strong>Kundennotiz</strong>
                </mj-text>
              </td>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px"
                         padding-top="20">{{ order.orderNotes }}</mj-text>
              </td>
            </tr>
          {% endif %}

          <tr>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                <strong>Bezahlt?</strong></mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.paidStatusHtml|raw }}</mj-text>
            </td>
          </tr>
          <tr>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
                <strong>Bezahlung</strong></mj-text>
            </td>
            <td>
              <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                       padding-left="25px" padding-right="25px" padding-bottom="0px"
                       padding-top="20">{{ order.gateway }}</mj-text>
            </td>
          </tr> {% if order.couponCode %}
            <tr>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20"><strong>Coupon
                    Code</strong></mj-text>
              </td>
              <td>
                <mj-text align="left" color="#222" font-size="15px" font-family="'Open Sans', Arial, sans-serif"
                         padding-left="25px" padding-right="25px" padding-bottom="0px"
                         padding-top="20">{{ order.couponCode }}</mj-text>
              </td>
            </tr> {% endif %}
        </mj-table>
      </mj-column>
    </mj-section>
    <mj-section>
    </mj-section>
    <mj-section background-color="#688aa1" padding-bottom="20px" padding-top="20px">
      <mj-column width="50%">
        <mj-text font-size="15px" color="#fff" font-family="'Open Sans', Arial, sans-serif" padding-left="25px"
                 padding-right="25px" padding-bottom="10px" padding-top="10">
          <h3 style="font-size:16px; color:'#fff'">Rechnungsadresse</h3> {% if order.billingAddress %}
          <div
            style="line-height: 1.6">{% include 'shop/_includes/addresses/address-email-confirmation' with { address: order.billingAddress } %} {% if order.billingAddress.sameAs(order.shippingAddress) %} </div> {% else %}
          <p>Nicht eingegeben</p> {% endif %}
          {% if order.user.email is defined %}
            <p>{{ order.user.email }}</p>
          {% else %}
            <p>{{ cart.email }}</p>
          {% endif %}
        </mj-text>
      </mj-column>
      <mj-column width="50%">
        <mj-text font-size="15px" color="#fff" font-family="'Open Sans', Arial, sans-serif" padding-left="25px"
                 padding-right="25px" padding-bottom="10px" padding-top="10">
          <h3 style="font-size:16px; color:'#fff'">Versandadresse</h3> {% if order.shippingAddress %}
          <div
            style="line-height: 1.6">{% include 'shop/_includes/addresses/address-email-confirmation' with { address: order.shippingAddress } %} {% if order.shippingAddress.sameAs(order.billingAddress) %} </div>{% else %}
          <p>Nicht eingegeben.</p> {% endif %}
          {% if order.user.email is defined %}
            <p>{{ order.user.email }}</p>
          {% else %}
            <p>{{ cart.email }}</p>
          {% endif %}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" padding-bottom="25px" padding-top="20px">
      <mj-column width="100%">
        <mj-table font-family="'Open Sans', Arial, sans-serif" font-size="15px">
          <tr style="color:#121; border-bottom:1px solid #121;text-align:left;padding:15px 0; font-family="
          'Open Sans' , Arial, sans-serif"">
          <th style="padding: 0 12px 0 0; width:20%">Artikelnr.</th>
          <th style="padding: 0 12px 0 0; width:8%;vertical-align:text-top">Stk.</th>
          <th style="padding: 0 12px 0 0;width:38%;vertical-align:text-top">Artikel</th>
          <th style="padding: 0 0 0 12px;width:17%; vertical-align:text-top;text-align:right"></th>
          <th style="padding: 0 0 0 12px;width:17%; vertical-align:text-top;text-align:right">Preis</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {% for item in order.lineItems %}
            <tr>
              <td style="color:#121; padding: 0 12px 5px 0;vertical-align:text-top">
                {{ item.purchasable.product.articleNumber }}
              </td>
              <td style="color:#121; padding: 0 12px 5px 0;vertical-align:text-top">{{ item.qty }}</td>
              <td style="color:#121; padding: 0px 12px 5px 0;vertical-align:top">
                {{ item.description }}<br/> {% if item.options.giftWrapped is defined %}
                  <div>{% if item.options.giftWrapped == 'yes' %}Geschenkband mit Masche anbringen{% endif %}</div> {% endif %} {% if item.note %}
                  <div class="">
                    <div>Notiz</div>
                    <div>{{ item.note }}</div>
                  </div> {% endif %} </td>
              <td style="color:#121; padding: 0 0 0 12px;vertical-align:text-top; text-align:right">
                {% if item.onSale %}
                  <strike>{{ item.price|commerceCurrency() }}</strike>
                {% else %}
                  {{ item.price|commerceCurrency() }}
                {% endif %}
              </td>
              <td
                style="color:#121; padding: 0 0 0 12px;vertical-align:text-top; text-align:right"> {{ item.subtotal|commerceCurrency(order.currency) }}
              </td>
            </tr>


            <tr style="color:#666; border-bottom:1px solid #121;">
              <td style="color:#121; padding: 0 12px 5px 0;vertical-align:text-top"></td>
              <td style="color:#121; padding: 0 12px 5px 0;vertical-align:text-top"></td>
              <td style="color:#121; padding: 0px 12px 5px 0;vertical-align:top">
                {% set itemSales = item.snapshot.sales ?? [] %}
                {% if itemSales|length %}
                  <span>Aktion:</span>
                  {% for sale in itemSales %}
                    {{ sale.name }}<br>
                  {% endfor %}
                {% endif %}
              </td>
              <td
                style="color:#121; padding: 0 0 0 12px;vertical-align:text-top; text-align:right">{% if itemSales|length %}{{ item.salePriceAsCurrency }}{% endif %} </td>
              <td style="color:#121; padding: 0 0 0 12px;vertical-align:text-top; text-align:right"></td>

            </tr>


          {% endfor %}

          <tr style="color:#121; border-bottom:1px solid #121;text-align:left;padding:15px 0; font-family="
          'Open Sans' , Arial, sans-serif"">
          </tr>


          {% for item in order.lineItems %}

            {% if item.adjustments|length %}
              {% for adjustment in item.adjustments %}
                {% if adjustment.name == "Rabatt:" %}
                  <tr>

                    <td>
                      {{ item.purchasable.product.articleNumber }}
                    </td>
                    <td colspan="3" align:
                    "right" style="text-align:right">
                    {% if adjustment.name == "Rundung" %} Rundung: {% else %} Kistenrabatt: {% endif %}
                    </td>
                    <td align:
                    "right" style="text-align:right">{{ adjustment.amount|commerceCurrency(order.currency) }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}

          {% endfor %}


          {% if order.totalDiscountAsCurrency > 0 %}
            <tr>
              <td colspan="2"></td>
              <td colspan="2" align:
              "right" style="text-align:right"> Total Artikel-Rabatte: </td>
              <td align:
              "right" style="text-align:right">{{ order.totalDiscountAsCurrency }}</td>
            </tr>
          {% endif %}

          <tr>
            <td colspan="3"></td>
            <td align:
            "right" style="text-align:right"> Versand:
            </td>
            <td align:
            "right" style="text-align:right">{{ order.getTotalShippingCost()|commerceCurrency(order.currency) }}</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td align:
            "right" style="text-align:right">Mwst.:</td>
            <td align:
            "right" style="text-align:right">{{ order.getTotalTaxIncluded()|commerceCurrency(order.currency) }}</td>
          </tr>


          <tr style="color:#121; border-bottom:1px solid #121;text-align:left;padding:15px 0; font-family="
          'Open Sans' , Arial, sans-serif"">
          </tr>


          {% for adjustment in order.orderAdjustments %}
            {% if adjustment.type != "shipping" %}
              {% if adjustment.amount|commerceCurrency(order.currency)|length %}
                <tr>
                  <td colspan="2"></td>
                  <td colspan="2" align:
                  "right" style="text-align:right"> {% if adjustment.name == "Rundung" %} Rundung: {% else %}
                  Abholrabatt: {% endif %}</td>
                  <td align:
                  "right" style="text-align:right">{{ adjustment.amount|commerceCurrency(order.currency) }}</td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td colspan="2" align:
            "right" style="text-align:right">Endsumme: </td>
            <td align:
            "right"
            style="text-align:right"><strong>{{ order.totalPrice|commerceCurrency(order.currency) }}</strong></td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    <mj-section background-color="#3d362f">
      <mj-column>
        <mj-text font-size="15px" color="#fff" font-family="'Open Sans', Arial, sans-serif" padding-left="25px"
                 padding-right="25px" padding-bottom="10px" padding-top="10">
          <h3 style="font-size:16px;">Kontakt</h3>
          <p style=" line-height: 1.6">TERRA VERDE Bio-Gourmet AG<br/> Am Wasser 55<br/> 8049 Zürich<br/> Schweiz<br/>
            Tel: <a href="tel:044 342 10 00" style="color:#fff; text-decoration:none">044 342 10 00</a><br/> Fax: 044
            341 97 62<br/><br/>
            <a href="mailto:bestellung@terra-verde.ch" style="color:#fff; text-decoration:none">bestellung@terra-verde.ch</a>
          </p>
        </mj-text>
        <mj-text font-size="10px" color="#fff" font-family="'Open Sans', Arial, sans-serif" padding-left="25px"
                 padding-right="25px" padding-bottom="10px" padding-top="10">
          <p style="font-size:12px; line-height: 1.6">Copyright © 2022 TERRA VERDE Bio-Gourmet AG, All rights
            reserved.</p>
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-social font-size="15px" color="#fff" icon-size="30px" font-family="'Open Sans', Arial, sans-serif"
                   mode="vertical">
          <mj-social-element name="facebook" href="https://www.facebook.com/terraverdebio/"> Facebook
          </mj-social-element>
          <mj-social-element name="instagram" href="https://www.instagram.com/terra.verde.bio.gourmet.ag/?hl=de">
            Instagram
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
