{% extends '/_layouts/main' %}

{% set addressId = craft.app.request.param('addressId') %}
  {% set redirect = craft.app.request.param('redirect') %}

  {% if not address is defined and addressId %}
    {# @var address \craft\commerce\models\Address #}
    {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
  {% endif %}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2 class="heading heading--2">
          {% if addressId %}
            Adresse 채ndern
          {% else %}
            neue Adresse hinzuf체gen
          {% endif %}
        </h2>

        <form method="post" action="">

          {{ csrfInput() }}
          {{ actionInput('commerce/customer-addresses/save') }}
          {{ redirectInput(redirect ?: 'shop/customer/addresses') }}

          {% if addressId %}
            {{ hiddenInput('address[id]', addressId) }}
          {% endif %}

          {% set isPrimaryShipping = (cart.customer.primaryShippingAddressId == addressId) %}
          <div class="selection--checkbox">
            {{ input('checkbox', 'makePrimaryShippingAddress', 1, {
              id: 'makePrimaryShippingAddress',
              checked: isPrimaryShipping,
              class: 'selection__input'
            }) }}
            <label for="makePrimaryShippingAddress" class="selection__label">
              {{ 'Diese Adresse als prim채re Versandadresse verwenden'|t }}
            </label>
          </div>

          {% set isPrimaryBilling = (cart.customer.primaryBillingAddressId == addressId) %}
          <div class="selection--checkbox">
            {{ input('checkbox', 'makePrimaryBillingAddress', 1, {
              id: 'makePrimaryBillingAddress',
              checked: isPrimaryBilling,
              class: 'selection__input'
            }) }}
            <label for="makePrimaryBillingAddress" class="selection__label">
              {{ 'Diese Adresse als prim채re Rechnungsadresse verwenden'|t }}
            </label>
          </div>

          <hr class="my-3"/>

          {% include 'shop/_includes/addresses/form' %}

          <hr class="my-3"/>

          <div class="flex justify-between">
            <div>
              {% if redirect %}
                <a href="/{{ redirect }}" class="button button--secondary">
                  Abbrechen
                </a>
              {% else %}
                <a href="{{ url('shop/customer/addresses') }}"
                   class="button button--secondary">
                  Abbrechen
                </a>
              {% endif %}
            </div>
            <div>

              <input class="input input__primary"
                     type="submit"
                     value="Adresse sichern"/>
            </div>
          </div>

          {# Outputs a hidden input field #}
          {{ craft.snaptcha.field }}
        </form>
      </div>
    </div>
  </section>
{% endblock %}
