{% extends '/_layouts/main' %}

{#
{% set customer = craft.commerce.customers(currentUser) %}
#}
{% if not currentUser %}
  {% exit 404 %}
{% endif %}

{# @var primaryBillingAddress \craft\commerce\models\Address #}
{% set primaryBillingAddress = currentUser.getPrimaryBillingAddress() %}
{# @var primaryShippingAddress \craft\commerce\models\Address #}
{% set primaryShippingAddress = currentUser.getPrimaryShippingAddress() %}

{# {% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
{% set primaryShippingAddress = customer.getPrimaryShippingAddress() %} #}


{% block content %}
<!-- Template: {{ _self }}.twig -->

  <section class="grid">
  <div class="row">
  <div class="col col-xs-12 col-md-12 col-lg-12">
  {% if currentUser.addresses|length %}
    <div class="flex justify-between items-center">
      <h2 class="heading heading--2">
        Adressen verwalten
      </h2>
      <a class="link button--primary button--small"
         href="{{ url('shop/customer/addresses/edit') }}">
        Neue Adresse hinzuf체gen
      </a>
      {% if cart.lineItems|length %}
      <a class="button button--primary"
         href="{{ url('shop/checkout/addresses') }}">
        Weiter zur Bezahlung
      </a>
    {% endif %}
    </div>

    <div class="profile__adresses row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
      {{ include('shop/_includes/address/list', {
          addresses: currentUser.addresses,
          selectable: false,
          primaryBillingAddressId: currentUser.primaryBillingAddressId,
          primaryShippingAddressId: currentUser.primaryShippingAddressId,
          cardWidth: 'adress-item',
          showDelete: true,
        }) }}


       {# {% if currentUser.addresses|length %}
            {% for address in currentUser.addresses %}
             #}{# {% if
                primaryShippingAddress
                and primaryShippingAddress.id == address.id %}
                <h4 class="heading heading--4 heading--no-margin-top ">
                  Versandadresse
                </h4>
              {% endif %}

              {% if
                primaryBillingAddress
                and primaryBillingAddress.id == address.id %}
                <h4 class="heading heading--4 heading--no-margin-top ">
                  Rechnungsadresse
                </h4>
              {% endif %}#}{#

              <div class="adress-item">
#}{#                {% include 'shop/_includes/addresses/address' with {
                  address: address
                } %}#}{#



                <div class="adress-item__buttons">
                  <a class="button button--primary button--success"
                     href="{{ url('shop/customer/addresses/edit') }}?addressId={{ address.id }}">
                    Bearbeiten
                  </a>

                </div>

                <div class="adress-item__marker">
                  {% if primaryBillingAddress and primaryBillingAddress.id == address.id %}
                    <svg class="icon--check"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      role="img" aria-label="Check Mark">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"/>
                    </svg>
                     {{ 'Prim채re Rechnungsadresse'|t }}
                  {% endif %}
                </div>
                <div class="adress-item__marker">
                  {% if primaryShippingAddress and primaryShippingAddress.id == address.id %}
                     <svg class="icon--check"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      role="img" aria-label="Check Mark">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"/>
                    </svg> {{ 'Prim채re Versandadresse'|t }}
                  {% endif %}
                </div>

              </div>

            {% endfor %}

        {% endif %}#}

  {% else %}
    <h2 class="heading heading--2">
      Adressen verwalten
    </h2>

    <hr/>

    <div>
      Noch keine Adressen hinterlegt.
      <a class="link button--primary button--small"
         href="{{ url('shop/customer/addresses/edit') }}">
        neue Adresse hinzuf체gen
      </a>
    </div>

    </div>

    </div>
    </section>
  {% endif %}
{% endblock %}
