{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->
  {% set customer = craft.commerce.customers.customer %}
  {% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
  {% set primaryShippingAddress = customer.getPrimaryShippingAddress() %}


<section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
      {% if customer.addresses|length %}
        <div class="flex justify-between items-center">
          <h2 class="heading heading--2">
            Adressen verwalten
          </h2>
          <a class="link"
            href="{{ url('shop/customer/addresses/edit') }}">
            Neue Adresse hinzufügen
          </a>
        </div>

        <div class="grid-addresses mt-6">
          {% for address in customer.addresses %}
            <div class="address-card">
              {% include 'shop/_includes/addresses/address' with {
                address: address
              } %}

              <div class="buttons mt-4">
                <a class="button button--primary layout-helper__margin-vertical--xs"
                  href="{{ url('shop/customer/addresses/edit') }}?addressId={{
                  address.id
                  }}">
                  Bearbeiten
                </a>
                <form method="post" action="">
                  {{ actionInput('commerce/customer-addresses/delete') }}
                  {{ hiddenInput('id', address.id) }}
                  {{ csrfInput() }}
                  <input type="submit" class="input input__secondary layout-helper__margin-bottom--xs" value="löschen" />
                </form>
              </div>

              {# <div>
                <strong>
                  {% if
                    primaryBillingAddress
                      and primaryBillingAddress.id == address.id %}
                    <i class="fa fa-check text-green"></i> Haupt-Rechnungsadresse
                  {% endif %}
                </strong>
              </div>
              <div>
                <strong>
                  {% if
                    primaryShippingAddress
                      and primaryShippingAddress.id == address.id %}
                    <i class="fa fa-check text-green"></i> Haupt-Versandadresse
                  {% endif %}
                </strong>
              </div> #}

            </div>
          {% endfor %}
        </div>
      {% else %}
        <h2 class="heading heading--2">
            Adressen verwalten
          </h2>

        <hr />

        <div class="empty-index">
          <i class="fas fa-address-book"></i>
          <div>
            Noch keine Adressen hinterlegt.<div class="mt-6">
              <a class="button button-primary"
                href="{{ url('shop/customer/addresses/edit') }}">
                neue Adresse hinzufügen
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% endif %}
{% endblock %}
