{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->
  {% set customer = craft.commerce.customers.customer %}
  {% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
  {% set primaryShippingAddress = customer.getPrimaryShippingAddress() %}


  <section class="grid">
  <div class="row">
  <div class="col col-xs-12 col-md-12 col-lg-12">
  {% if customer.addresses|length %}
    <div class="flex justify-between items-center">
      <h2 class="heading heading--2">
        Adressen verwalten
      </h2>
      <a class="link button--primary button--small"
         href="{{ url('shop/customer/addresses/edit') }}">
        Neue Adresse hinzufügen
      </a>
    </div>

    <div class="profile__adresses row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
        {% for address in customer.addresses %}
          {% if
            primaryShippingAddress
            and primaryShippingAddress.id == address.id %}

            <h4 class="heading heading--4 heading--no-margin-top ">
              Versandadresse
            </h4>
            <div class="adress-item">
              {% include 'shop/_includes/addresses/address' with {
                address: address
              } %}

              <div class="adress-item__buttons">
                <a class="button button--primary button--success"
                   href="{{ url('shop/customer/addresses/edit') }}?addressId={{ address.id }}">
                  Bearbeiten
                </a>
                <form method="post" action="">
                  {{ actionInput('commerce/customer-addresses/delete') }}
                  {{ hiddenInput('id', address.id) }}
                  {{ csrfInput() }}
                  <input type="submit" class="input input__secondary " value="löschen"/>
                </form>
              </div>

            </div>

          {% endif %}
        {% endfor %}
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-6">
        {% for address in customer.addresses %}
          {% if
            primaryBillingAddress
            and primaryBillingAddress.id == address.id %}

            <h4 class="heading heading--4 heading--no-margin-top ">
              Rechnungsadresse
            </h4>

            <div class="adress-item">
              {% include 'shop/_includes/addresses/address' with {
                address: address
              } %}

              <div class="adress-item__buttons">
                <a
                  class="button button--primary button--success"
                  href="{{ url('shop/customer/addresses/edit') }}?addressId={{ address.id }}">
                  Bearbeiten
                </a>
                <form method="post" action="">
                  {{ actionInput('commerce/customer-addresses/delete') }}
                  {{ hiddenInput('id', address.id) }}
                  {{ csrfInput() }}
                  <input type="submit" class="input input__secondary"
                         value="löschen"/>
                </form>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  {% else %}
    <h2 class="heading heading--2">
      Adressen verwalten
    </h2>

    <hr/>

    <div>
      Noch keine Adressen hinterlegt.
      <a class="link button--primary button--small"
         href="{{ url('shop/customer/addresses/edit') }}">
        neue Adresse hinzufügen
      </a>
    </div>
    </div>
    </div>
    </section>
  {% endif %}
{% endblock %}
