  <div class="filter">

    <div class="row">
      <div class="col col-xs-12 col-md-6 col-lg-4">

        <div class="">
            <label for="search" class="heading--2 heading no-border">
                Suche
            </label>
            <div class="">
                <input sprig s-trigger="keyup changed delay:300ms" id="search" name="search" value="{{ search }}" type="text" placeholder="Suchbegriff..." class="form-input input">
            </div>
            <div class="filter__hint">
              <p class="filter__hint--text">Resulate werden unterhalb des Filters angezeigt.</p>
              <button class="btn filter__btn--results anchor-link" href="#tvboard">Resulate anzeigen</button>
            </div>
        </div>

      </div>

      <div class="col col-xs-12 col-md-6 col-lg-2">
        <h2 class="heading heading--2 layout-helper__margin-top--none">
          Aktuell
        </h2>
        {% for catStatusOption in catStatusOptions %}
          <div class="filter__checkbox">
              <input sprig type="checkbox" id="catstatus-{{ catStatusOption.id }}" name="articleCategoriesStatus[]" value="{{ catStatusOption.id }}" {{ catStatusOption.id in articleCategoriesStatus ? 'checked' }}>
              <label for="catstatus-{{ catStatusOption.id }}" class="truncate">
                  {{ catStatusOption.title }}
              </label>
          </div>
        {% endfor %}
      </div>

       <div class="col col-xs-12 col-md-6 col-lg-6 mobile-hidden">
        <h2 class="heading heading--2 layout-helper__margin-top--none">
          Geschenksets
        </h2>
        <div class="filter__gift">
         {% for catGiftOption in catGiftOptions %}
          <div class="filter__checkbox">
              <input sprig type="checkbox" id="catgift-{{ catGiftOption.id }}" name="articleCategoriesGift[]" value="{{ catGiftOption.id }}" {{ catGiftOption.id in articleCategoriesGift ? 'checked' }}>
              <label for="catgift-{{ catGiftOption.id }}" class="truncate">
                  {{ catGiftOption.title }}
              </label>
          </div>
        {% endfor %}
        </div>
        <button class="btn filter__btn--results anchor-link" href="#tvboard">Resulate anzeigen</button>
      </div>
    </div>


    <div class="row">

       <div class="col col-xs-12 col-md-6 col-lg-3">
        <h2 class="heading heading--2">
          Weine
        </h2>
        {% for catWineOption in catWineOptions %}
            <div class="filter__checkbox">
                <input sprig type="checkbox" id="catwine-{{ catWineOption.id }}" name="articleCategoriesWine[]" value="{{ catWineOption.id }}" {{ catWineOption.id in articleCategoriesWine ? 'checked' }}>
                <label for="catwine-{{ catWineOption.id }}" class="text-sm leading-5 font-medium text-cool-gray-500 truncate ml-1">
                    {{ catWineOption.title }}
                </label>
            </div>
        {% endfor %}
      </div>

      <div class="col col-xs-12 col-md-6 col-lg-6 desktop-hidden">
        <h2 class="heading heading--2 layout-helper__margin-top--none">
          Geschenksets
        </h2>
        <div class="filter__gift">
         {% for catGiftOption in catGiftOptions %}
          <div class="filter__checkbox">
              <input sprig type="checkbox" id="catgift-{{ catGiftOption.id }}" name="articleCategoriesGift[]" value="{{ catGiftOption.id }}" {{ catGiftOption.id in articleCategoriesGift ? 'checked' }}>
              <label for="catgift-{{ catGiftOption.id }}" class="truncate">
                  {{ catGiftOption.title }}
              </label>
          </div>
        {% endfor %}
        </div>
        <button class="btn filter__btn--results anchor-link" href="#tvboard">Resulate anzeigen</button>
      </div>


      <div class="col col-xs-12 col-md-12 col-lg-9">
        <h2 class="heading heading--2">
          Delikatessen
        </h2>
          <div class="filter__deli">
            {% for catDeliOption in catDeliOptions %}
                <div class="filter__checkbox filter__deli--checkbox">
                    <input sprig type="checkbox" id="catdeli-{{ catDeliOption.id }}" name="articleCategoriesDeli[]" value="{{ catDeliOption.id }}" {{ catDeliOption.id in articleCategoriesDeli ? 'checked' }}>
                    <label for="catdeli-{{ catDeliOption.id }}" class="">
                        {{ catDeliOption.title }}
                    </label>
                </div>
            {% endfor %}
          </div>
          <button class="btn filter__btn--results anchor-link" href="#tvboard">Resulate anzeigen</button>
      </div>

    </div>
  </div>
