
<div class="filter col col-xs-12 col-md-6 col-lg-3">
  <div class="filter__search">
    <label for="search" class="">Suche</label>
    <div class="">
      <input sprig
             s-trigger="keyup changed delay:300ms"
             id="search"
             name="search"
             value="{{ search }}"
             type="text"
             placeholder="Suchbegriff..."
             class="form-input input"/>
    </div>
    <div id="order-hints" class="order-hints desktop">
      <div class="order-hints__discount">
        <h4 class="order-hints__discount--heading">
          10 % Rabatt
        </h4>
        <p class="order-hints__discount--text">
          ab 6 Stück des selben Artikels *
        </p>
        <p class="order-hints__discount--mark">
          * Ausnahmen Geschenksets & Aktionen
        </p>
      </div>
      <div class="order-hints__shipping">
        <h4 class="order-hints__shipping--text">
          Portofrei ab 100.- CHF
        </h4>
      </div>
    </div>

    <div class="filter__hint">
      <p class="filter__hint--text">
        Resulate werden unterhalb des Filters angezeigt.
      </p>
      <a class="btn filter__btn--results anchor-link" href="#tvboard">
        Resulate anzeigen
      </a>
    </div>
  </div>

  <div s-replace="#filters">
    <div class="">
      <details open class="filter__accordion">
        <summary class="filter__accordion--title">
          Aktuell
        </summary>
        {% for catStatusOption in catStatusOptions %}
          <div class="filter__checkbox">
            <input sprig
                   type="checkbox"
                   id="catstatus-{{ catStatusOption.id }}"
                   name="articleCategoriesStatus[]"
                   value="{{ catStatusOption.id }}"
              {{ catStatusOption.id in articleCategoriesStatus ? 'checked' }} />
            <label for="catstatus-{{ catStatusOption.id }}"
                   class="truncate filter__checkbox--label">
              {{ catStatusOption.title }}
            </label>
          </div>
        {% endfor %}
      </details>
    </div>

    <div class="">
      <details open class="filter__accordion">
        <summary class="filter__accordion--title">
          Delikatessen
        </summary>

        <div class="filter__deli">
          <div class="filter__checkbox filter__deli--checkbox">
            <input sprig
              type="checkbox"
              s-swap="outerHTML show:#tvboard:top"
              id="catdeli-catDeliOptionAll"
              name="articleCategoriesDeliAll"
              value="1"
              {# if the variable articleCategoriesDeliAll is true, set the checkbos to true and set the value of
              articleCategoriesDeliNone to 1 if the checkbox gets unchecked again, otherwise set the checkbox to empty string  #}
              {{ articleCategoriesDeliAll ? 's-val:article-categories-deli-none="1" checked' : '' }}
            />
            <label for="catdeli-catDeliOptionAll" class="filter__checkbox--label">
              Alle
            </label>
          </div>

          <div class="filter__subcategories">
            {% for catDeliOption in catDeliOptions %}
              <div class="filter__checkbox filter__deli--checkbox">
                <input sprig
                  type="checkbox"
                  s-swap="outerHTML show:#tvboard:top"
                  id="catdeli-{{ catDeliOption.id }}"
                  name="articleCategoriesDeli[]"
                  value="{{ catDeliOption.id }}"
                  {# if the checked cat option is in the articleCategoriesDeli array, the set the checkbox to checked
                  and if it gets unchecked set the value of articleCategoriesDeliAll to 0 #}
                  {{ catDeliOption.id in articleCategoriesDeli ? 's-val:article-categories-deli-all="0" checked' }}
                />
                <label for="catdeli-{{ catDeliOption.id }}" class="filter__checkbox--label">
                  {{ catDeliOption.title }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </details>
    </div>

    <div class="">
      <details open class="filter__accordion">
        <summary class="filter__accordion--title">
          Weine
        </summary>
        {% nav catWineOption in catWineOptions %}
        {# set a variable with ids, if a wine option is selected, merge the id of the parent otherwise a empty array,
        if there are children, then also merge the id of the child, otherwise an empty array (loop through the id, like the delis)
        and join everything with comma #}
          {% set parentWithChildrenIds = [catWineOption.id]
              |merge(catWineOption.parent ? [catWineOption.parent.id] : [])
              |merge(catWineOption.children|map(v => v.id))
              |join(',')
          %}
          <div class="filter__checkbox">
            <input sprig
                   type="checkbox"
                   s-swap="outerHTML show:#tvboard:top"
                   id="catwine-{{ catWineOption.id }}"
                   name="articleCategoriesWine[]"
                   value="{{ catWineOption.id }}"
                   {# if the checked wineoption is in the wine array #}
                   {% if catWineOption.id in articleCategoriesWine %}
                    {# set the value of articleCategoriesWineUnselect with the cat ids (parentWithChildrenIds) if checked #}
                     s-val:article-categories-wine-unselect="{{ parentWithChildrenIds }}" checked
                   {% else %}
                   {# otherwise set the variable articleCategoriesWineSelect with the ids (parentWithChildrenIds) #}
                     s-val:article-categories-wine-select="{{ parentWithChildrenIds }}"
                   {% endif %}
            />
            <label for="catwine-{{ catWineOption.id }}" class="truncate filter__checkbox--label">
              {{ catWineOption.title }}
            </label>
          </div>
          {% ifchildren %}
            <div class="filter__subcategories">
              {% children %}
            </div>
          {% endifchildren %}
        {% endnav %}
      </details>
    </div>

    <div class="">
      <details open class="filter__accordion">
        <summary class="filter__accordion--title">
          Geschenksets
        </summary>
        <div class="filter__gift">
          <div class="filter__checkbox filter__gift--checkbox">
            <input sprig
              type="checkbox"
              s-swap="outerHTML show:#tvboard:top"
              id="catgift-catGiftOptionAll"
              name="articleCategoriesGiftAll"
              value="1"
              {{ articleCategoriesGiftAll ? 's-val:article-categories-gift-none="1" checked' : '' }}
            />
            <label for="catgift-catGiftOptionAll" class="filter__checkbox--label">
              Alle
            </label>
          </div>

          <div class="filter__subcategories">
            {% for catGiftOption in catGiftOptions %}
              <div class="filter__checkbox">
                <input sprig
                      type="checkbox"
                      s-swap="outerHTML show:#tvboard:top"
                      id="catgift-{{ catGiftOption.id }}"
                      name="articleCategoriesGift[]"
                      value="{{ catGiftOption.id }}"
                  {{ catGiftOption.id in articleCategoriesGift ? 'checked' }} />
                <label for="catgift-{{ catGiftOption.id }}"
                      class="truncate filter__checkbox--label">
                  {{ catGiftOption.title }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </details>
    </div>

  </div>
</div>
