<div class="filter col col-xs-12 col-md-6 col-lg-3">
  <div class="filter__search">
    <label for="search" class="">Suche</label>
    <div class="">
      <input sprig
             s-trigger="keyup changed delay:300ms"
             id="search"
             name="search"
             value="{{ search }}"
             type="text"
             placeholder="Suchbegriff..."
             class="form-input input"/>
    </div>
    <div id="order-hints" class="order-hints">
      <div class="order-hints__discount">
        <h4 class="order-hints__discount--heading">
          10 % Rabatt
        </h4>
        <p class="order-hints__discount--text">
          ab 6 Stück des selben Artikels *
        </p>
        <p class="order-hints__discount--mark">
          * Ausnahmen Geschenksets & Aktionen
        </p>
      </div>
      <div class="order-hints__shipping">
        <h4 class="order-hints__shipping--text">
          Portofrei ab 100,- CHF
        </h4>
      </div>
    </div>

    <div class="filter__hint">
      <p class="filter__hint--text">
        Resulate werden unterhalb des Filters angezeigt.
      </p>
      <button class="btn filter__btn--results anchor-link" href="#tvboard">
        Resulate anzeigen
      </button>
    </div>
  </div>

  <div class="">
    <details open class="filter__accordion">
      <summary class="filter__accordion--title">
        Aktuell
      </summary>
      {% for catStatusOption in catStatusOptions %}
        <div class="filter__checkbox">
          <input sprig
                 type="checkbox"
                 id="catstatus-{{ catStatusOption.id }}"
                 name="articleCategoriesStatus[]"
                 value="{{ catStatusOption.id }}"
            {{ catStatusOption.id in articleCategoriesStatus ? 'checked' }} />
          <label for="catstatus-{{ catStatusOption.id }}"
                 class="truncate filter__checkbox--label">
            {{ catStatusOption.title }}
          </label>
        </div>
      {% endfor %}
    </details>
  </div>


  <div class="">
    <details open class="filter__accordion">
      <summary class="filter__accordion--title">
        Delikatessen
      </summary>
      <div class="filter__deli" s-replace="#filters">
        <div class="filter__checkbox filter__deli--checkbox">
          <input sprig
                 type="checkbox"
                 id="catdeli-catDeliOptionAll"
                 name="articleCategoriesDeliAll"
                 value="1"
            {{ articleCategoriesDeliAll ? 'checked' : '' }} />
          <label for="catdeli-catDeliOptionAll" class="filter__checkbox--label">
            Alle
          </label>
        </div>

        {% for catDeliOption in catDeliOptionsQuery.all() %}
          <div class="filter__checkbox filter__deli--checkbox">
            <input sprig
                   type="checkbox"
                   s-swap="outerHTML show:body:top"
              {{ articleCategoriesDeliAll
              ? 's-val:article-categories-deli-all="0"' }}

                   id="catdeli-{{ catDeliOption.id }}"
                   name="articleCategoriesDeli[]"
                   value="{{ catDeliOption.id }}"
              {{ articleCategoriesDeliAll
              or catDeliOption.id in articleCategoriesDeli
              ? 'checked' }}
            />
            <label for="catdeli-{{ catDeliOption.id }}"
                   class="filter__checkbox--label">
              {{ catDeliOption.title }}
            </label>
          </div>
        {% endfor %}
      </div>
    </details>
  </div>

  <div class="">
    <details open class="filter__accordion">
      <summary class="filter__accordion--title">
        Weine
      </summary>
      {% nav catWineOption in catWineOptions %}

        <div class="filter__checkbox">
          <input sprig
                 type="checkbox"
                 s-swap="outerHTML show:body:top"
                 id="catwine-{{ catWineOption.id }}"
                 name="articleCategoriesWine[]"
                 value="{{ catWineOption.id }}"
            {{ catWineOption.id in articleCategoriesWine ? 'checked' }} />
          <label for="catwine-{{ catWineOption.id }}"
                 class="truncate filter__checkbox--label">
            {{ catWineOption.title }}
          </label>
        </div>
        {% ifchildren %}
          <ul class="filter__subcategories">
            {% children %}
          </ul>
        {% endifchildren %}
      {% endnav %}
    </details>
  </div>

  <div class="desktop-hidden">
    <details open class="filter__accordion">
      <summary class="filter__accordion--title">
        Geschenksets
      </summary>
      <div class="filter__gift">
        {% for catGiftOption in catGiftOptions %}
          <div class="filter__checkbox">
            <input sprig
                   type="checkbox"
                   s-swap="outerHTML show:body:top"
                   id="catgift-{{ catGiftOption.id }}"
                   name="articleCategoriesGift[]"
                   value="{{ catGiftOption.id }}"
              {{ catGiftOption.id in articleCategoriesGift ? 'checked' }} />
            <label for="catgift-{{ catGiftOption.id }}"
                   class="truncate filter__checkbox--label">
              {{ catGiftOption.title }}
            </label>
          </div>
        {% endfor %}
      </div>
    </details>
  </div>

  <div class="mobile-hidden">
    <details open class="filter__accordion">
      <summary class="filter__accordion--title">
        Geschenksets
      </summary>
      <div class="filter__gift">
        {% for catGiftOption in catGiftOptions %}
          <div class="filter__checkbox">
            <input sprig
                   type="checkbox"
                   id="catgift-{{ catGiftOption.id }}"
                   name="articleCategoriesGift[]"
                   value="{{ catGiftOption.id }}"
              {{ catGiftOption.id in articleCategoriesGift ? 'checked' }} />
            <label for="catgift-{{ catGiftOption.id }}"
                   class="truncate filter__checkbox--label">
              {{ catGiftOption.title }}
            </label>
          </div>
        {% endfor %}
      </div>
    </details>
    <button class="btn filter__btn--results anchor-link" href="#tvboard">
      Resulate anzeigen
    </button>
  </div>
</div>
