{# Sets default values. #}
{% set search = search ?? '' %}
{% set section = section ?? '' %}

{# {% set catDeliID = catDeliID ?? '' %}
{% set catGiftID = catGiftID ?? '' %}
{% set catWineID = catWineID ?? '' %}
{% set catStatusID = catStatusID ?? '' %} #}

{% set articleCategoriesDeli = articleCategoriesDeli ?? [] %}
{% set articleCategoriesGift = articleCategoriesGift ?? [] %}
{% set articleCategoriesWine = articleCategoriesWine ?? [] %}
{% set articleCategoriesStatus = articleCategoriesStatus ?? [] %}

{% set limit = limit ?? 51 %}
{% set page = page ?? 1 %}
{% set viewType = viewType ?? 'grid' %}

{# Defines maximum number of pages to show. #}
{% set maxPages = 7 %}
{% set orderBy = orderBy ?? 'featuredProduct DESC, postDate DESC' %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{# Get options from category groups. #}
{% set catDeliOptions = craft.categories.group('catGroupDeli').all() %}
{% set catGiftOptions = craft.categories.group('catGroupGift').all() %}
{% set catWineOptions = craft.categories.group('catGroupWine').all() %}
{% set catStatusOptions = craft.categories.group('catGroupStatus').all() %}

{# Defines limit options. #}
{% set limitOptions = [8, 16, 24, 48] %}

{# Create an array of filters. #}
{% set filters = {
  search: search,
  articleCategoriesDeli: articleCategoriesDeli,
  articleCategoriesGift: articleCategoriesGift,
  articleCategoriesWine: articleCategoriesWine,
  articleCategoriesStatus: articleCategoriesStatus,
  orderBy: orderBy
} %}

{% set productQuery =
  craft.products(
    filters|merge({
      limit: limit,
      with: [
        [
          'image',
          {
            withTransforms: ['productListing']
          }
        ]
      ]
    })
  )
%}

{% set categories =
  articleCategoriesDeli
    |merge(articleCategoriesWine)
    |merge(articleCategoriesGift)
%}

{% if categories is not empty %}
  {% do productQuery.andRelatedTo(categories) %}
{% endif %}

{# {% if articleCategoriesDeli is not empty %}
  {% do productQuery.andRelatedTo(articleCategoriesDeli) %}
{% endif %}

{% if articleCategoriesWine is not empty %}
  {% do productQuery.andRelatedTo(articleCategoriesWine) %}
{% endif %}

{% if articleCategoriesGift is not empty %}
  {% do productQuery.andRelatedTo(articleCategoriesGift) %}
{% endif %} #}

{% if articleCategoriesStatus is not empty %}
  {% do productQuery.andRelatedTo(articleCategoriesStatus) %}
{% endif %}

{# Paginate entry query to get page info. #}
{% set pageInfo = sprig.paginate(productQuery, page) %}

{% set products = pageInfo.pageResults %}

{# Push the URL into the history stack with the filters, adding extra values. #}
{% do sprig.pushUrl(
  '?'
    ~ (filters
      |merge({
        page: page,
        viewType: viewType
      })
      |url_encode)
) %}

{% if sprig.isRequest %}
  <script>
    htmx.trigger('#cartsize', 'refresh'); htmx.trigger('#cartsizemobile',
    'refresh');
  </script>
{% endif %}


<div s-replace="#tvboard" class="shop__board row">
  {% include 'sprig/components/filters/_components/filters/catfilter' %}

  <div id="tvboard" class="col col-xs-12 col-md-6 col-lg-9">
    <input type="hidden" name="viewType" value="{{ viewType }}" />

    <div class="shop__board-topline">
    <p class="shop__board-pagination">
      <span class="">{{ pageInfo.first }}</span>
      -
      <span class="">{{ pageInfo.last }}</span>
      von
      <span class="">{{ pageInfo.total }}</span>
      Produkten
    </p>


    {{ sprig('sprig/components/filters/_components/indicator') }}

    {% if viewType == 'grid' %}
    <div>
      <button sprig
        s-val:view-type="list"
        s-val:page="1"
        s-val:limit="102"
        s-indicator=".loading-button__indicator"
        class="btn-viewchange">
        <span class="btn-viewchange__text">Listenansicht</span>
        <div>
        <span class="btn-viewchange__bar"></span>
        <span class="btn-viewchange__bar"></span>
        <span class="btn-viewchange__bar"></span>
        <span class="btn-viewchange__bar"></span>
        </div>
      </button>

    </div>
    {% else %}
    <div>
      <button sprig
        s-val:view-type="grid"
        s-val:page="1"
        s-val:limit="36"
        s-indicator=".loading-button__indicator"
        class="btn-viewchange">
        <span class="btn-viewchange__text">Rasteransicht</span>
      <span href="" class="grid-icon grid-icon--fill">
        <span class="layer layer--primary">
          <span></span>
        </span>
        <span class="layer layer--secondary">
          <span></span>
        </span>
        <span class="layer layer--tertiary">
          <span></span>
        </span>
      </span>
      </button>
    </div>
    {% endif %}
    </div>

    {# shop-list anfang #}
    <div class="shop-list{% if viewType == 'list' %}__listview{% endif %}">
      {% for product in products %}
        {% for variant in product.getVariants() %}
          {% include 'sprig/components/cart/_components/product' %}
        {% endfor %}
      {% endfor %}
    </div>
    {# shop-list ende #}

    {% if (products|length) == 0 %}
      <div class="row">
        <div class="col col-xs-12 col-md-12 col-lg-12">
          <div class="shop-list__no-result">
            Keine Produkte gefunden
          </div>
        </div>
      </div>
    {% endif %}

    {# pagination #}
    {% include 'sprig/components/filters/_components/filters/pagination' %}
    {# pagination ende #}
  </div>
</div>
