{# Sets default values. #}
{% set search = search ?? '' %}
{% set section = section ?? '' %}
{# set the arra of all categories to itself, otherwise to a empty array #}
{# aCatDeli = articleCategoriesDeli #}
{% set aCatDeli = aCatDeli ?? [] %}
{# {% set articleCategoriesWine = articleCategoriesWine ?? [] %} #}
{% set aCW = aCW ?? [] %}
{# {% set articleCategoriesGift = articleCategoriesGift ?? [] %} #}
{# aCG = articleCategoriesGift #}
{% set aCG = aCG ?? [] %}
{% set articleCategoriesStatus = articleCategoriesStatus ?? [] %}

{# Get options from category groups. #}
{% set catDeliOptions = craft.categories.group('catGroupDeli').all() %}
{% set catDeliOptionsIDs = craft.categories.group('catGroupDeli').ids() %}
{% set catGiftOptions = craft.categories.group('catGroupGift').all() %}
{% set catWineOptions = craft.categories.group('catGroupWine').all() %}
{% set catStatusOptions = craft.categories.group('catGroupStatus').all() %}

{# Delikatessen #}
{# set a variable for selecting all categories to itself otherwise to false #}
{# {% set articleCategoriesDeliAll = articleCategoriesDeliAll ?? false %} #}
{% set aCatDelAll = aCatDelAll ?? false %}
{# set a variable for selecting no categories to itself otherwise to false #}
{% set articleCategoriesDeliNone = articleCategoriesDeliNone ?? false %}
{# if the "All" checkbox for all categories is checked/true #}
{% if aCatDelAll %}
  {# get all ids from the categories options (could have also been done with:
  {% set catDeliOptionsIDs = craft.categories.group('catGroupDeli').ids() %})
  map-> loop though all ids from all elements #}
  {% set aCatDeli = catDeliOptions|map(v => v.id) %}
  {# if no categories are selected, then set the aCatDeli variable to an empty string #}
{% elseif articleCategoriesDeliNone %}
  {% set aCatDeli = [] %}
{% endif %}

{# Geschenksets #}
{% set articleCategoriesGiftAll = articleCategoriesGiftAll ?? false %}
{% set articleCategoriesGiftNone = articleCategoriesGiftNone ?? false %}
{% if articleCategoriesGiftAll %}
  {% set aCG = catGiftOptions|map(v => v.id) %}
{% elseif articleCategoriesGiftNone %}
  {% set aCG = [] %}
{% endif %}

{# Weine #}
{% set articleCategoriesWineSelect = articleCategoriesWineSelect ?? null %}
{% set articleCategoriesWineUnselect = articleCategoriesWineUnselect ?? null %}
{% if articleCategoriesWineSelect %}
  {% set aCW = aCW|merge(articleCategoriesWineSelect|split(',')) %}
{% elseif articleCategoriesWineUnselect %}
  {% set aCW = aCW|filter(v => v not in articleCategoriesWineUnselect) %}
{% endif %}

{% set limit = limit ?? 51 %}
{% set page = page ?? 1 %}
{% set vType = vType ?? 'grid' %}

{# Defines maximum number of pages to show. #}
{% if craft.app.request.isMobileBrowser() %}
  {% set maxPages = 4 %}
{% else %}
  {% set maxPages = 7 %}
{% endif %}
{% set orderBy = orderBy ?? 'fProd DESC, postDate DESC' %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% set productQuery = craft.products({
  search: search,
  orderBy: orderBy,
  limit: limit,
  with: [
    [
      'image',
      {
        withTransforms: ['productListing']
      }
    ]
  ]
}) %}

{% set categories = aCatDeli
  |merge(aCG)
  |merge(aCW)
  |merge(articleCategoriesStatus) %}

{% if categories is not empty %}
  {% do productQuery.andRelatedTo(categories) %}
{% endif %}

{# Paginate entry query to get page info. #}
{% set pageInfo = sprig.paginate(productQuery, page) %}

{% set products = pageInfo.pageResults %}

{# Push the URL into the history stack with the filters, adding extra values. #}
{% do sprig.pushUrl(
  '?'
  ~ ({ search: search,
    aCatDelAll: aCatDelAll,
    aCatDeli: aCatDeli,
    aCG: aCG,
    aCW: aCW,
    articleCategoriesStatus: articleCategoriesStatus,
    orderBy: orderBy,
    page: page,
    vType: vType
  })
  |url_encode
  ) %}


<div s-replace="#tvboard" id="filters" class="shop__board row">
  {% include 'sprig/components/filters/_components/filters/catfilter' %}

  <div id="tvboard" class="col col-xs-12 col-md-6 col-lg-9">
    <input type="hidden" name="vType" value="{{ vType }}"/>
    <input type="hidden" name="orderBy" value="{{ orderBy }}"/>

    <div class="shop__board-topline">
      <p class="shop__board-pagination">
        <span class="">{{ pageInfo.first }}</span>
        -
        <span class="">{{ pageInfo.last }}</span>
        von
        <span class="">{{ pageInfo.total }}</span>
        Produkten
      </p>


      {{ sprig('sprig/components/filters/_components/indicator') }}

      {% if vType == 'grid' %}
        <div>
          <button sprig
                  s-val:view-type="list"
                  s-val:page="1"
                  s-val:limit="102"
                  s-indicator=".loading-button__indicator"
                  class="btn-viewchange">
            <span class="btn-viewchange__text">Listenansicht</span>
            <div>
              <span class="btn-viewchange__bar"></span>
              <span class="btn-viewchange__bar"></span>
              <span class="btn-viewchange__bar"></span>
              <span class="btn-viewchange__bar"></span>
            </div>
          </button>

        </div>
      {% else %}
        <div>
          <button sprig
                  s-val:view-type="grid"
                  s-val:page="1"
                  s-val:limit="36"
                  s-indicator=".loading-button__indicator"
                  class="btn-viewchange">
            <span class="btn-viewchange__text">Rasteransicht</span>
            <span href="" class="grid-icon grid-icon--fill">
        <span class="layer layer--primary">
          <span></span>
        </span>
        <span class="layer layer--secondary">
          <span></span>
        </span>
        <span class="layer layer--tertiary">
          <span></span>
        </span>
      </span>
          </button>
        </div>
      {% endif %}
    </div>

    {# shop-list anfang #}
    <div class="shop-list{% if vType == 'list' %}__listview{% endif %}">
      {% for product in products %}
        {% for variant in product.getVariants() %}
          {% include 'sprig/components/cart/_components/product' %}
        {% endfor %}
      {% endfor %}
    </div>
    {# shop-list ende #}

    {% if (products|length) == 0 %}
      <div class="row">
        <div class="col col-xs-12 col-md-12 col-lg-12">
          <div class="shop-list__no-result">
            Keine Produkte gefunden
          </div>
        </div>
      </div>
    {% endif %}

    {# pagination #}
    {% include 'sprig/components/filters/_components/filters/pagination' %}
    {# pagination ende #}
  </div>
</div>
