{# This is the Store Product View template #}
{% extends "_layouts/main" %}

{% set img = product.articleImage is defined and product.articleImage is not empty
  ? product.articleImage.one()
  : null
%}

{% block content %}

   <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
        <h3>{{ product.title }}, {{ product.articleVolume }}{{ product.articleUnit }}</h3>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-6">
        {% include '_components/_content-elements/imageshop' %}
      </div>


      <div class="col col-xs-12 col-md-12 col-lg-6">
             {% set variant = product.defaultVariant %}

            <p>{{ product.articleVolume }}{{ product.articleUnit }}</p>
            <h4>
                {% if variant.onSale %}
                <strike>{{ variant.price | currency('CHF') }}</strike> {{ variant.salePrice | currency('CHF') }}
                {% else %}
                {{ variant.price | currency('CHF') }}
                {% endif %}
            </h4>
            <p>{% if variant.stock > 0 %}<span
              class="success label">vorrätig</span>{% else %}<span
              class="alert label">nicht vorrätig</span>{% endif %}
            </p>

            <p>SKU: {{ variant.sku }}</p>

            <p>EAN: {{ product.articleEanNumber }}</p>
            <p>Beschreibung: {{ product.articleDescription }}, {{ product.articleVolume }}{{ product.articleUnit }}</p>
            <p>Lagerung: {{ product.articleStorage }}</p>
            <p>Bio Zertifizierung: {{ product.articleBioZertifisation }}</p>
            <p>Nährstoffe: {{ product.articleNutritionalValue }}</p>
            <p>Vegan: {{ product.articleVegan }}</p>
            {# <p>Kategorie: {{ product.articleCategories }}</p> #}

            {# Add cart Button #}
            {# <form method="POST">
                <input type="hidden" name="action"
                       value="commerce/cart/update-cart">
                <input type="hidden" name="cartUpdatedNotice"
                       value="Added {{ product.title }} to the cart.">
                {{ redirectInput('shop/cart') }}
                {{ csrfInput() }}
                <input type="hidden" name="qty" value="1">
                <input type="hidden" name="purchasableId"
                       value="{{ variant.id }}">
                <input class="button" type="submit" value="In den Warenkorb" {% if variant.stock <= 0 %}disabled {% endif %} >
            </form> #}

            <form sprig s-method="post" s-action="commerce/cart/update-cart">
                <input type="hidden" name="cartUpdatedNotice"
                       value="Added {{ product.title }} to the cart.">
                <input type="hidden" name="qty" value="1">
                <input type="hidden" name="purchasableId" value="{{ variant.id }}">
                <input class="button" type="submit" value="In den Warenkorb" {% if variant.stock <= 0 %}disabled {% endif %} >
            </form>

            {% if success is defined and success %}
                Product added to your cart!
            {% elseif errors is defined %}
                {% for error in errors %}
                  <p class="error">{{ error|first }}</p>
                {% endfor %}
            {% endif %}

      </div>


        <div class="">
            <div class="row">
                <div class="product-description">
                    {# {% for block in product.productDescription.all() %}
                        {% switch block.type %}
                        {% case 'descriptionCopy' %}
                            {{ block.text }}
                        {% case 'productImage' %}
                            <div class="photo-inset">
                                <img src="{{ block.image.one().url() }}"
                                     alt="{{ block.caption }}"/>
                                <p class="caption">
                                    <small>{{ block.caption }}</small>
                                </p>
                            </div>
                        {% endswitch %}
                    {% endfor %} #}
                </div>
            </div>
        </div>
    </div>
    </div>
        </div>
    </div>
{% endblock %}
