{% import '_helpers/macros.twig' as macros %}

{% set offset = offset ?? 0 %}
{% set limit = 12 %}

{% set search = search ?? '' %}

<form class="search__form" s-replace=".search__wrapper">
  <label class="visually-hidden" for="search-field">
    {{ 'search.button.text'|t }}
  </label>
  <input id="search"
         type="text"
         class="search__input"
         name="search"
         value="{{ search }}"
         sprig
         s-trigger="keyup changed delay:300ms"
         aria-controls="search-results"

         autofocus="true"/>
  <button type="submit" class="search__button">
    {{ macros.svg('search_24')|attr({
      class: 'icon icon--24 search__icon'
    }) }}
    <span class="visually-hidden">{{ 'search.button.text'|t }}</span>
  </button>
</form>

{% set entryQuery = craft.products.search(search) %}
{% set products = entryQuery.offset(offset).limit(limit).all() %}


<div class="search__wrapper">
  {% if search %}
    <p>
      {{ entryQuery|length }} {{ 'search.results.length'|t }}
    </p>
    <div class="search__results" aria-live="polite">
      {% if entryQuery is not empty %}
        <ul class="search__results-list">
          {% for product in products %}
            <li class="search__results-item">
              <a href="{{ product.url }}">
                  <span class="search__results-title">
                    {{ product.title }}
                  </span>
                {% set transform = transformation|default('productListing') %}
                {% set img = product.articleImage.one() ?? null %}

                {% if img is defined %}
                  {% include '_components/_content-elements/image'
                    with {
                    image: img,
                    transform: transform
                  } %}
                {% endif %}
                {% for variant in product.variants %}
                  {% include '/shop/produkte/_includes/prices.twig' %}
                {% endfor %}
              </a>
            </li>
          {% endfor %}
        </ul>

        {% if entryQuery.count() > offset + (products|length) %}
          <div class="search__load-more">
            <button sprig
                    s-val:offset="{{ offset + limit }}"
                    s-replace=".search__results"
                    s-target=".search__load-more"
                    s-swap="outerHTML"
                    class="button button--secondary">
              {{ 'search.loadmore.text'|t }}
            </button>
          </div>
        {% endif %}
      {% else %}
        <p>
          {{ 'search.no.results'|t }}
        </p>
      {% endif %}
    </div>
  {% endif %}
</div>
