{% import '_helpers/macros.twig' as macros %}
{% set query = query ?? '' %}
{% set offset = offset ?? 0 %}
{% set limit = 3 %}
{% set sectionArea = '' %}

<form sprig class="search__form">
  <label class="visually-hidden" for="search-field">
    {{ 'search.button.text'|t }}
  </label>
  <input id="search"
    type="text"
    class="search__input"
    name="query"
    value="{{ query }}"
    aria-controls="search-results"
    s-replace=".search__results" />
  <button type="submit" class="search__button">
    {{
      macros.svg('search_24')|attr({
        class: 'icon icon--24 search__icon'
      })
    }}
    <span class="visually-hidden">{{ 'search.button.text'|t }}</span>
  </button>
</form>

{% set entryQuery = craft.products.search(query) %}
{% set products = entryQuery.offset(offset).limit(limit).all() %}

<div class="search__wrapper">
  {% if query %}
    <p>
      {{ entryQuery|length }} {{ 'search.results.length'|t }}
    </p>
    <div class="search__results" aria-live="polite">
      {% if entryQuery is not empty %}
        <div class="search__item">
          <ul>
            {% for product in products %}
              <li>
                <a href="{{ product.url }}">
                  {% include '_components/_content-elements/imageshop' %}
                  {{ product.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        {% if entryQuery.count() > offset + (products|length) %}
          <div class="search__load-more">
            <button sprig
              s-val:offset="{{ offset + limit }}"
              s-replace=".search__results"
              s-target=".search__load-more"
              s-swap="outerHTML"
              class="button button--secondary">
              {{ 'search.loadmore.text'|t }}
            </button>
          </div>
        {% endif %}
      {% else %}
        <p>
          {{ 'search.no.results'|t }}
        </p>
      {% endif %}
    </div>
  {% endif %}
</div>
