{% set classDev = devMode ? 'dev' : '' %}
{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}">
  <head>
    {% include '_layouts/_includes/head' %}

    {% if extraHead is defined %}{{ extraHead }}{% endif %}
  </head>
  <body class="min-h-screen {{ classDev }} {% if bodyClass is defined %}page--{{ bodyClass }}{% endif %}">

     {% set classes = {
      input: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight',
      box: {
        base: 'bg-gray-100 border-gray-300 border-b-2 p-6',
        error: 'bg-red-100 border-red-500 border-b-2 p-6'
      },
      btn: {
        base: 'cursor-pointer rounded px-4 py-2 inline-block',
        small: 'cursor-pointer rounded px-2 py-1 text-sm inline-block',
        grey: 'bg-gray-500 hover:bg-gray-600 text-white hover:text-white',
        greyLight: 'bg-gray-300 hover:bg-gray-400 text-gray-600 hover:text-white',
        blue: 'bg-blue-900 hover:bg-blue-600 text-white hover:text-white',
        green: 'bg-green-500 hover:bg-green-600 text-white hover:text-white'
      }
    } %}

      {% set flashNotice = craft.app.session.getFlash('notice') %}
      {% set flashError = craft.app.session.getFlash('error') %}




      {% block layout %}

      {% endblock %}

    {% include '_layouts/_includes/scripts' %}

    {% if devMode %}
      <script>console.log('Cart on page load: ', {{ cart.toArray()|json_encode|raw }});</script>
    {% endif %}
  </body>
</html>
