{# IMPORT MACROS #}
{% import '_helpers/macros.twig' as macros %}

{% set homeLink = craft.entries.section('homepage').one() %}
{% set ueberunsLink = craft.entries.section('aboutUsStructure').one() %}
{% set shopLink = craft.entries.section('shopStructure').one() %}
{% set aktuellLink = craft.entries.section('newsOverview').one() %}

{% set loginLink = craft.entries.section('loginStructure').one() %}

{# {% set verkaufsstellenLink =
  craft.entries.section('sellingPointsStructureSingle').one()
%} #}
{# {% set produzentenLink = craft.entries.section('producersOverview').one() %} #}
{% set productLink = craft.entries.section('productStructure').one() %}

{% set url = craft.app.request.pathInfo %}

<nav class="nav-main" role="navigation">
  <h2 class="visually-hidden">
    {{ 'nav.mainNavigation'|t }}
  </h2>
  <ul class="nav-main__list">
    <li class="nav-main__list-item">
      <a href="{{ shopLink.url }}"
         class="nav__link {{ macros.isActive('shop', 1, 'nav__link--') }}">
        {{ 'Shop'|t }}
      </a>
    </li>

    <li class="nav-main__list-item">
      <a href="{{ productLink.url }}"
         class="nav__link {{ macros.isActive(
           'produkte',
           1,
           'nav__link--'
         ) }}">
        {{ 'Produkte'|t }}
      </a>
    </li>

    <li class="nav-main__list-item">
      <a href="{{ ueberunsLink.url }}"
         class="nav__link {{ macros.isActive('ueberuns', 1, 'nav__link--') }}">
        {{ 'Über uns'|t }}
      </a>
    </li>

    <li class="nav-main__list-item">
      <a href="{{ aktuellLink.url }}"
         class="nav__link {{ macros.isActive('aktuell', 1, 'nav__link--') }}">
        {{ 'Blog'|t }}
      </a>
    </li>

    {# <li class="nav-main__list-item">
      <a href="{{ verkaufsstellenLink.url }}"
        class="nav__link {{
        macros.isActive(
          'verkaufsstellen',
          1,
          'nav__link--'
        )
        }}">
        {{ 'Verkaufsstellen'|t }}
      </a>
    </li> #}


    {#    <li class="nav-main__list-item nav-main__list-item-last"> #}
    {#      {% include '_components/_nav/_nav-service/nav-service-desktop' %} #}
    {#    </li> #}
  </ul>
</nav>
