{# Import Macros #}
{% import '_helpers/macros.twig' as macros %}

{# ARBEITGEBER & SELBSTSTÄNDIGE DB QUERY #}
{% set navShop =
  craft.entries.section('shopStructure').status(null).limit(null).all()
%}

<ul>
  {% for type in craft.commerce.productTypes.allProductTypes %}
    <li><a href="{{ type }}">{{ type.name }}</a></li>
  {% endfor %}
</ul>

{% if navShop is not empty %}
  <ul class="mobile-nav__list mobile-nav__list--hidden">
    {% nav navEntry in navShop %}
    {% set lastUriSegment = navEntry.uri|split('/')|last %}
    <li class="mobile-nav__list-item">
      {% if navEntry.type == 'employerOverviewPage' and navEntry.level == 1 %}
        <button class="mobile-nav__trigger" type="button">
          <span class="mobile-nav__text mobile-nav__text--bold {{
            macros.isActive(
              navEntry.slug,
              2,
              'mobile-nav__text--'
            )
            }}">
            {{ navEntry.title }}
          </span>
        </button>
      {% elseif
        navEntry.status == 'disabled'
          and navEntry.type == 'employerOverviewPage'
          and navEntry.level == 2 %}
        <button aria-expanded="false" class="mobile-nav__trigger nav-expanded">
          <span class="mobile-nav__text {{
            macros.isActive(
              navEntry.slug,
              - 1,
              'mobile-nav__text--'
            )
            }}">
            {{ navEntry.title }}
          </span>
          {{
            macros.svg('carret_down_24')|attr({
              class: 'icon icon--24 nav-main__list-icon'
            })
          }}
        </button>
      {% elseif
        navEntry.status == 'live' and navEntry.type == 'employerDetailPage' %}
        <a href="{{ navEntry.url }}" class="link">
          <span class="mobile-nav__text  {{
            macros.isActive(
              navEntry.slug,
              - 1,
              'mobile-nav__text--'
            )
            }}">
            {{ navEntry.title }}
          </span>
        </a>
      {% endif %}
      {% ifchildren %}
      <ul class="{{
        navEntry.hasDescendants and navEntry.level == 2
          ? 'nav-main__sublist'
          : 'mobile-nav__list mobile-nav__list--hidden'
        }}">
        {% if
          navEntry.status == 'live'
            and navEntry.type == 'employerOverviewPage'
            and navEntry.level == 1 %}
          <li class="mobile-nav__list-item">
            <a class="link" href="{{ navEntry.url }}">
              <span class="mobile-nav__text  {{
                macros.isActive(
                  navEntry.slug,
                  - 1,
                  'mobile-nav__text--'
                )
                }}">
                {{ 'nav.overview'|t }}
              </span>
            </a>
          </li>
        {% endif %}
        {% children %}
      </ul>
      {% endifchildren %}
    </li>
    {% endnav %}
  </ul>
{% endif %}
