{# Import Macros #}
{% import '_helpers/macros.twig' as macros %}

{# RATGEBER #}
{% set navAdvisor = craft.entries.section('advisorStructure').all() %}

{# News Übersichsseite #}
{% set newsOverview = craft.entries.id(3749) %}

{% if navAdvisor is not empty %}
  <ul class="mobile-nav__list mobile-nav__list--hidden">
    {% nav navEntry in navAdvisor %}
    {% set lastUriSegment = navEntry.uri|split('/')|last %}
    <li class="mobile-nav__list-item">
      <a href="{{ navEntry.url }}" class="link">
        <span class="mobile-nav__text {{
          macros.isActive(
            lastUriSegment,
            - 1,
            'mobile-nav__text--'
          )
          }}">
          {{ navEntry.title }}
        </span>
      </a>
      {% ifchildren %}
      <ul class="{{
        navEntry.hasDescendants and navEntry.level == 2
          ? 'nav-main__sublist'
          : 'mobile-nav__list mobile-nav__list--hidden'
        }}">
        {% children %}
      </ul>
      {% endifchildren %}
    </li>
    {% endnav %}
    {% if
      flyoutGlobals.teaserFlyoutAdvisor is defined
        and flyoutGlobals.teaserFlyoutAdvisor is not empty %}
      {% set teaserFlyout = flyoutGlobals.teaserFlyoutAdvisor.one() %}
      <li class="mobile-nav__list-item">
        <div class="mobile-nav__list-teaser">
          {% include '_components/_teasers/teaser-news.twig' with {
            teaserUrl: teaserFlyout.url,
            teaserPostDate: teaserFlyout.postDate,
            teaserTitle: teaserFlyout.title,
            teaserImage: teaserFlyout.teaserImage.one().url,
            isInFlyout: true
          } %}
        </div>
        <div class="nav-main__link-wrapper">
          <a href="{{ newsOverview.one().url }}"
            class="link link--internal link--icon-after nav-main__teaser-link">
            <span class="link__text">
              {{ 'nav.mainNavigation.goToStories'|t }}
            </span>
            <div class="link__icon-wrapper link__icon-wrapper--internal">
              {{
                macros.svg('arrow_42')|attr({
                  class: 'link__icon link__icon--internal icon icon--42'
                })
              }}
            </div>
          </a>
        </div>
      </li>
    {% endif %}
  </ul>
{% endif %}
