{# IMPORT MACROS #}
{% import '_helpers/macros.twig' as macros %}

{% set homeLink = craft.entries.section('homepage').one() %}
{% set ueberunsLink =
  craft.entries.section('aboutUsStructure').level(1).all()
%}
{% set shopLink = craft.entries.section('shopStructure').one() %}
{% set neuesLink = craft.entries.section('newStructure').one() %}
{% set verkaufsstellenLink =
  craft.entries.section('sellingPointsStructureSingle').one()
%}
{% set produzentenLink = craft.entries.section('producersStructure').one() %}

<div class="mobile-nav__wrapper">
  <div class="mobile-nav__header">
    <button class="mobile-nav__button-back" type="button"></button>
    <button class="mobile-nav__button-back" type="button">
      {{ 'nav.mainNavigation.home'|t }}
    </button>
    <button class="mobile-nav__button-close">
      <span class="visually-hidden">
        {{ 'nav.mainNavigation.menuClose'|t }}
      </span>
      {{
        macros.svg('close_24')|attr({
          class: 'icon icon--24'
        })
      }}
    </button>
  </div>

  <nav class="mobile-nav__main" role="navigation">
    <h2 class="visually-hidden">
      {{ 'nav.mainNavigation'|t }}
    </h2>
    <ul class="mobile-nav__list mobile-nav__list--active">
      {# Starteite #}
      <li class="mobile-nav__list-item">
        <a href="/{{ currentSite.language }}" class="link">
          <span class="mobile-nav__text mobile-nav__text--bold {{
            craft.app.request.url == '/' ~ currentSite.language
              ? 'mobile-nav__text--active'
            }}">
            {{ 'Startseite'|t }}
          </span>
        </a>
      </li>
      {# SHOP #}
      <li class="mobile-nav__list-item">
        <button class="mobile-nav__trigger" type="button">
          <span class="mobile-nav__text mobile-nav__text--bold {{
            macros.isActive(
              'nav.mainNavigation.slug.shop'|t,
              1,
              'mobile-nav__text--'
            )
            }}">
            {{ 'Shop'|t }}
          </span>
        </button>
        {% include '_components/_nav/_nav-main/nav-main-shop-phone' %}
      </li>
      {# END SHOP #}

      {# ÜBER UNS #}
      <li class="mobile-nav__list-item">
        <button class="mobile-nav__trigger" type="button">
          <span class="mobile-nav__text mobile-nav__text--bold  {{
            macros.isActive(
              'nav.mainNavigation.slug.aboutus'|t,
              1,
              'mobile-nav__text--'
            )
            }}">
            {{ 'Über uns'|t }}
          </span>
        </button>
        {% include '_components/_nav/_nav-main/nav-main-about-us-phone' %}
      </li>
      {# END ÜBER UNS #}

      {# PRODUZENTEN #}
      <li class="mobile-nav__list-item">
        <button class="mobile-nav__trigger" type="button">
          <span class="mobile-nav__text mobile-nav__text--bold  {{
            macros.isActive(
              'nav.mainNavigation.slug.worker'|t,
              1,
              'mobile-nav__text--'
            )
            }}">
            {{ 'Produzenten'|t }}
          </span>
        </button>
        {% include '_components/_nav/_nav-main/nav-main-manufactors-phone' %}
      </li>
      {# END PRODUZENTEN #}

      {# VERKAUFSSTELLEN #}
      <li class="mobile-nav__list-item">
        <a href="{{ verkaufsstellenLink.url }}"
          class="mobile-nav__text mobile-nav__text--bold  {{
          macros.isActive(
            'verkaufsstellen',
            1,
            'nav__link--'
          )
          }}">
          {{ 'Verkaufsstellen'|t }}
        </a>
      </li>
      {# END VERKAUFSSTELLEN #}

      {# NEUES #}
      <li class="mobile-nav__list-item">
        <a href="{{ neuesLink.url }}"
          class="mobile-nav__text mobile-nav__text--bold  {{
          macros.isActive(
            'neues',
            1,
            'nav__link--'
          )
          }}">
          {{ 'Neues'|t }}
        </a>
      </li>
      {# END NEUES #}
      <li>{% include '_components/_nav/_nav-service/nav-service-phone' %}</li>
    </ul>
  </nav>
</div>
