{# IMPORT MACROS #}
{% import '_helpers/macros.twig' as macros %}

{% set homeLink = craft.entries.section('homepage').one() %}
{% set ueberunsLink =
  craft.entries.section('aboutUsStructure').level(1).all() %}
{% set ueberunsLink = craft.entries.section('aboutUsStructure').one() %}
{% set shopLink = craft.entries.section('shopStructure').one() %}
{% set aktuellLink = craft.entries.section('newsOverview').one() %}

{# {% set verkaufsstellenLink =
  craft.entries.section('sellingPointsStructureSingle').one()
%} #}
{% set produzentenLink = craft.entries.section('producersStructure').one() %}

<div class="mobile-nav__wrapper">
  <div class="mobile-nav__header">
    <button class="mobile-nav__button-back" type="button"></button>
    <button class="mobile-nav__button-back" type="button">
      {{ 'nav.mainNavigation.home'|t }}
    </button>
    <button class="mobile-nav__button-close">
      <span class="visually-hidden">
        {{ 'nav.mainNavigation.menuClose'|t }}
      </span>
      {{ macros.svg('close_24')|attr({
        class: 'icon icon--24'
      }) }}
    </button>
  </div>

  <nav class="mobile-nav__main" role="navigation">
    <h2 class="visually-hidden">
      {{ 'nav.mainNavigation'|t }}
    </h2>
    <ul class="mobile-nav__list mobile-nav__list--active">
      {# Starteite #}
      <li class="mobile-nav__list-item">
        <a href="/{{ currentSite.language }}" class="link">
          <span class="mobile-nav__text mobile-nav__text--bold {{ craft.app.request.url == '/' ~ currentSite.language
          ? 'mobile-nav__text--active' }}">
            {{ 'Startseite'|t }}
          </span>
        </a>
      </li>
      {# SHOP #}
      <li class="mobile-nav__list-item">
        <a href="{{ shopLink.url }}"
           class="mobile-nav__text mobile-nav__text--bold {{ macros.isActive(
             'shop',
             1,
             'mobile-nav__text--'
           ) }}">
          {{ 'Shop'|t }}
        </a>
      </li>
      {# END SHOP #}

      {# ÜBER UNS #}
      <li class="mobile-nav__list-item">
        <a href="{{ ueberunsLink.url }}"
           class="mobile-nav__text mobile-nav__text--bold {{ macros.isActive(
             'ueberuns',
             1,
             'mobile-nav__text--'
           ) }}">
          {{ 'Über uns'|t }}
        </a>
      </li>
      {# END ÜBER UNS #}

      {# Aktuell #}
      <li class="mobile-nav__list-item">
        <a href="{{ aktuellLink.url }}"
           class="mobile-nav__text mobile-nav__text--bold {{ macros.isActive(
             'aktuell',
             1,
             'mobile-nav__text--'
           ) }}">
          {{ 'Aktuell'|t }}
        </a>
      </li>
      {# END NEUES #}

      {# PRODUZENTEN #}
      <li class="mobile-nav__list-item">
        <a href="{{ produzentenLink.url }}"
           class="mobile-nav__text mobile-nav__text--bold {{ macros.isActive(
             'produzenten',
             1,
             'mobile-nav__text--'
           ) }}">
          {{ 'Produzent:innen'|t }}
        </a>
      </li>
      {# END PRODUZENTEN #}

      {# VERKAUFSSTELLEN #}
      {# <li class="mobile-nav__list-item">
        <a href="{{ verkaufsstellenLink.url }}"
          class="mobile-nav__text mobile-nav__text--bold  {{
          macros.isActive(
            'verkaufsstellen',
            1,
            'nav__link--'
          )
          }}">
          {{ 'Verkaufsstellen'|t }}
        </a>
      </li> #}
      {# END VERKAUFSSTELLEN #}
      
      <li>{% include '_components/_nav/_nav-service/nav-service-phone' %}</li>
    </ul>
  </nav>
</div>
