
{% set imageUrl = img.getUrl(transform)|default('') %}
{% set imageheight = img.getHeight(transform)|default('') %}
{% set imagewidth = img.getWidth(transform)|default('') %}
{% set imagetitle = img.title|default('') %}

{% set imageStandardAltText = img
  and img.imageAltText is defined
  and img.imageAltText is not empty
  ? img.imageAltText
  : ''
%}
{% set imageAltText = imageAltText is defined and imageAltText is not empty
  ? imageAltText
  : imageStandardAltText
%}
{% set imageStandardCaption = img
  and img.imageCaption is defined
  and img.imageCaption is not empty
  ? img.imageCaption
  : ''
%}
{% set imageCaption = imageCaption is defined and imageCaption is not empty
  ? imageCaption
  : imageStandardCaption
%}

{% if imageUrl %}
  <figure class="image">
    <div class="image__wrapper">
      <picture>
        <source
          srcset="{{ imageUrl }}"
          alt="{{ imageAltText }}"
          width="{{ imagewidth }}"
          height="{{ imageheight }}"
          title="{{- imagetitle -}}"
          type="image/webp">
        <source
          srcset="{{ imageUrl }}"
          alt="{{ imageAltText }}"
          width="{{ imagewidth }}"
          height="{{ imageheight }}"
          title="{{- imagetitle -}}"
          type="image/jpg">
        <img class="image__img"
          src="{{ imageUrl }}"
          alt="{{ imageAltText }}"
          width="{{ imagewidth }}"
          height="{{ imageheight }}"
          title="{{- imagetitle -}}"
            />
      </picture>
    </div>
    {% if imageCaption %}
      <figcaption class="image__caption">
        {{ imageCaption }}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
