{% set imageUrl = img.getUrl(transform) %}
{% set imageheight = img.getHeight(transform)|default('') %}
{% set imagewidth = img.getWidth(transform)|default('') %}
{% set imagetitle = entry.title|default('') %}

{% set imageStandardAltText = img
  and img.imageAltText is defined
  and img.imageAltText is not empty
  ? img.imageAltText
  : 'Terra Verde' %}
{% set imageAltText = img.imageAltText is defined
  and img.imageAltText is not empty
  ? img.imageAltText
  : imagetitle %}
{% set imageStandardCaption = img
  and img.imageCaption is defined
  and img.imageCaption is not empty
  ? img.imageCaption
  : '' %}
{% set imageCaption = imageCaption is defined and imageCaption is not empty
  ? imageCaption
  : imageStandardCaption %}

{% if imageUrl %}
  <figure class="image">
    <div class="image__wrapper">
      <picture>
        <source srcset="{{ imageUrl }}"
                alt="{{ imageAltText }}"
                width="{{ imagewidth }}"
                height="{{ imageheight }}"
                title="{{- imageAltText -}}"
                type="image/webp"/>
        <source srcset="{{ imageUrl }}"
                alt="{{ imageAltText }}"
                width="{{ imagewidth }}"
                height="{{ imageheight }}"
                title="{{- imageAltText -}}"
                type="image/jpg"/>
        <img class="image__img"
             src="{{ imageUrl }}"
             alt="{{ imageAltText }}"
             width="{{ imagewidth }}"
             height="{{ imageheight }}"
             title="{{- imageAltText -}}"/>
      </picture>
    </div>
    {% if imageCaption %}
      <figcaption class="image__caption">
        {{ imageCaption }}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
