{% set imageSizeParam = imageSize is defined and imageSize is not empty
  ? imageSize
  : '' %}

{% set boxBgColor = block.boxBgColor %}
{% set boxTextColor = block.boxTextColor %}
{% set infobox = infobox|default(false) %}


<div class="image-text {% if infobox %}image-text__bg{% endif %}"
     style="background-color: {{ boxBgColor }}; color: {{ boxTextColor }}">

  {% set img = img is defined and img is not empty ? img.one() : null %}

  {% set imageUrl = img ? img.getUrl('imageOneThird') : '' %}

  {% set imageStandardAltText = img
    and img.imageAltText is defined
    and img.imageAltText is not empty
    ? img.imageAltText
    : '' %}
  {% set imageAltText = imageAltText is defined and imageAltText is not empty
    ? imageAltText
    : imageStandardAltText %}
  {% set imageStandardCaption = img
    and img.imageCaption is defined
    and img.imageCaption is not empty
    ? img.imageCaption
    : '' %}
  {% set imageCaption = imageCaption is defined and imageCaption is not empty
    ? imageCaption
    : imageStandardCaption %}

  {% set imageTypeClass = imageSizeParam is defined
    and imageSizeParam is not empty
    ? imageSizeParam
    : '' %}

  {% if imageUrl %}
    <figure class="image {{ imageTypeClass }}">
      <div class="image__wrapper">
        <img class="image__img" src="{{ imageUrl }}" alt="{{ imageAltText }}"/>
      </div>
      {% if imageCaption %}
        <figcaption class="image__caption">
          {{ imageCaption }}
        </figcaption>
      {% endif %}
    </figure>
  {% endif %}

  <div class="formatted-text image-text__text">
    <h3 class="image-text__title--desktop" style="color: {{ boxTextColor }}">
      {{ title }}
    </h3>
    {{ formattedText }}
  </div>
</div>
