{% set infoboxTitle = block.titleH3 is defined and block.titleH3 is not empty
  ? block.titleH3
  : '' %}
{% set infoboxText = block.textStandardWithoutH1 is defined and block.textStandardWithoutH1 is not empty
  ? block.textStandardWithoutH1
  : '' %}

{% set infoboxBgColor = block.infoboxBgColor %}
{% set infoboxTextColor = block.infoboxTextColor %}
<div class="infobox layout-helper__margin-bottom--xs"
     style="background-color: {{ infoboxBgColor }}; color: {{ infoboxTextColor }}">

  <div class="section-header__wrapper">
    {% if infoboxTitle %}
      <h2 class="infobox__heading heading heading--no-margin" style="color: {{ infoboxTextColor }}">
        {{ infoboxTitle }}
      </h2>
    {% endif %}

    {% if infoboxText %}
      <div class="">
        {{ infoboxText }}
      </div>
    {% endif %}
  </div>
</div>
