{% import '_helpers/macros.twig' as macros %}
{# {% cache globally using key "footer" %} #}
<footer class="footer">

  <h2 class="visually-hidden">
    Footer
  </h2>
  <div class="footer__top">
    <div class="grid">
      <div class="row">
        {# <div class="col col-xs-12 col-md-6 col-lg-3">
          <h3 class="heading--3 heading--no-margin">Newsletter</h3>
        </div>

        <div class="col col-xs-12 col-md-6 col-lg-9">
          <form class="newsletter__form" action="" method="post">
            {{ csrfInput() }}
            {{ redirectInput('thankyou') }}
            <input type="hidden" name="action" value="mailchimp-subscribe/audience/subscribe">
            <input type="hidden" name="audienceId" value="1fr4ew09qv">

            {% set subscribeResponse = mailchimpSubscribe is defined and mailchimpSubscribe.action == 'subscribe' ? mailchimpSubscribe : null %}

            {% if subscribeResponse %}
                {% if not subscribeResponse.success %}
                    <p>An error occured: {{ subscribeResponse.message }}</p>
                {% endif %}
            {% endif %}

            <div>
                <label class="visually-hidden" for="emailInput"{% if subscribeResponse and subscribeResponse.errorCode=='1000' %} class="error"{% endif %}>
                    Email:
                </label>
                <input id="emailInput" class="input" placeholder="E-Mail" type="text" name="email"
                    {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.email ?? '' }}"{% endif %}/>
            </div>

            <button type="submit" name="" class="button button--primary">Abonnieren</button>
          </form>
        </div> #}




        {# Formie Newsletter Form #}
         {# {% set formQuery = craft.formie.forms()
            .handle('newsletter') %}

        {% set form = formQuery.one() %}

        {% set options = {
            formClasses: [
                'newsletter__form',
            ],
            formAttributes: {
                'title': 'Newsletter Anmeldeformular',
            },
        } %} #}
        <div class="col col-xs-12 col-md-6 col-lg-3">
          {# <h3 class="heading--3 heading--no-margin">{{ form.title }}</h3> #}

        </div>

        <div class="col col-xs-12 col-md-6 col-lg-9">
          <div class="form__wrapper">
            {# {{ craft.formie.renderform('newsletter', options)}} #}
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="footer__middle">
    <div class="grid">
      <div class="row">
        <div class="col col-xs-12 col-md-4 col-lg-6">
          <div class="footer--box footer--contact">
            <h3 class="footer--heading">Kontakt</h3>

            <div class="footer--contact__phone">
              {% if footerGlobal.phone %}
              <span class="contact__phone">
                Tel <a href="tel:{{footerGlobal.phone}}">{{footerGlobal.phone}}</a>
              </span>
              {% endif %}

              {% if footerGlobal.fax %}
              <span class="contact__fax">
                Fax
                {{footerGlobal.fax}}
              </span>
              {% endif %}
            </div>

            <div class="footer--contact__email">
              {% if footerGlobal.emailOne %}
              <span class="emailOne">
                {{ macros.emailLinks(footerGlobal.emailOne, "email") }}
              </span>
              {% endif %}

              {% if footerGlobal.emailTwo %}
              <span class="emailTwo">
                {{ macros.emailLinks(footerGlobal.emailTwo, "email") }}
              </span>
              {% endif %}
            </div>

          </div>
            {% if footerGlobal.adress %}
              <div class="footer--contact__adress">
                {{footerGlobal.adress}}
              </div>
            {% endif %}


        </div>

         {# <div class="col col-xs-12 col-md-6 col-lg-3">
          <div class="footer--box footer--info">
            <h3 class="footer--heading"></h3>

          </div>
        </div> #}

        <div class="col col-xs-12 col-md-4 col-lg-3">
          <div class="footer--box footer--aboutus">
            <h3 class="footer--heading">Über uns</h3>

              {% set entries = craft.entries.section('aboutusStructure').level(2) %}

            <ul>
              {% for entry in entries.all() %}
                <li>
                  <a href="{{entry.url}}">
                    {{ entry.title }}</li>
                  </a>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col col-xs-12 col-md-4 col-lg-3">
          <div class="footer--box footer--openinghours">
            <h3 class="footer--heading">Laden</h3>
            {% if footerGlobal.adress %}
            <div class="footer--contact__adress">
              {{footerGlobal.adress}}
            </div>
            {% endif %}
            {% if footerGlobal.openingHoursOne %}
              <span>
                {{footerGlobal.openingHoursOne}}
              </span>
            {% endif %}
            {% if footerGlobal.openingHoursTwo %}
              <span>
                {{footerGlobal.openingHoursTwo}}
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="grid">
      <div class="row">
        <div class="col col-xs-12 col-md-6 col-lg-12">
        <ul class="nav__service">
          <li class="nav__service--items">
            <a href="/agb">
                {{'nav.footer.slug.agb'|t}}
            </a>
          </li>
          <li class="nav__service--items">
            <a href="/impressum">
                {{'nav.footer.slug.imprint'|t}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</footer>

{# {% endcache %} #}
