{# <div class="logo">
  <a class="header__logo-link" href="/{{ currentSite.language }}">
    <img class="header__logo"
      src="{{
      alias(
        '@rootUrl'
      )
      }}/assets/images/logo/TerraVerde_jpg_gross.jpeg"
      alt="Gastrosocial Logo" />
  </a>
</div> #}

{% set heroImage = entry.imageHomepage.one() %}

<div class="header-top">
  <div class="header-top-line"></div>
  <div class="content__grid">
    <div class="content__grid--top">
      <h1 class="visually-hidden">Header area</h1>
    </div>
    <div class="content__grid--4-1">
      <div class="logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo"
            src="{{
            alias(
              '@rootUrl'
            )
            }}/assets/images/logo/TerraVerde_jpg_gross.jpeg"
            alt="Terra Verde Logo" />
        </a>
      </div>
    </div>
    <div class="content__grid--4-23">
      <div class="header__content-desktop">

        {% include '_components/_nav/_nav-main/nav-main-desktop' %}

      </div>
    </div>

    <div class="content__grid--4-4">
      <div class="header__nav-service">
        {% include '_components/_nav/_nav-service/nav-service-desktop' %}
      </div>
    </div>
  </div>
</div>

<header class="header" class="header" style="background-image: url('{{ heroImage.url() }}');">
  {# <div class="header__background"></div> #}


  <div class="content__grid">
    <div class="content__grid--top">
      <h1 class="visually-hidden">Header area</h1>
    </div>
    <div class="content__grid--4-1">
      {# <div class="logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo"
            src="{{
            alias(
              '@rootUrl'
            )
            }}/assets/images/logo/TerraVerde_jpg_gross.jpeg"
            alt="Terra Verde Logo" />
        </a>
      </div> #}
    </div>
    <div class="content__grid--4-23">
      <div class="header__content-desktop">

        {% include '_components/_nav/_nav-main/nav-main-desktop' %}

      </div>
    </div>

    <div class="content__grid--4-4">
      <div class="header__nav-service">
        {% include '_components/_nav/_nav-service/nav-service-desktop' %}
      </div>
    </div>
  </div>


        {# <div class="header__content-mobile">

          <div class="header__menu-button-wrapper">
            <button class="header__menu-button-mobile" type="button">
              <span class="header__menu-button-text">
              </span>
              <div class="header__menu-button-mobile-line-wrapper">
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--first">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--second">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--third">

                </span>
              </div>
            </button>
          </div>
        </div>

        <div class="header__content-desktop">
          <div class="header__top-row">

            {% include '_components/_nav/_nav-main/nav-main-desktop' %}

          </div>
          <div class="header__bottom-row">
            <div class="header__nav-service">
              {% include '_components/_nav/_nav-service/nav-service-desktop' %}
            </div>
          </div>

        </div> #}

</header>
