{% set cssFile = devMode ? 'main.css' : 'main.min.css' %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />

{# STYLES #}
<link rel="stylesheet" href="{{ alias('@web') }}/assets/styles/{{ cssFile }}" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
  rel="stylesheet" />

<script src="{{ alias('@rootUrl') }}/assets/scripts/openinfowindow.js"></script>

{# SEO #}
{% if not craft.app.plugins.isPluginEnabled('seomatic') %}
  {% if
    craft.app.urlManager.matchedElement
      and craft.app.urlManager.matchedElement.uri == '__home__' %}
    {% set seoTitle = craft.app.urlManager.matchedElement.title %}
  {% elseif craft.app.urlManager.matchedElement %}
    {% set seoTitle = craft.app.urlManager.matchedElement.title ~ ' - '
      ~ siteName
    %}
  {% else %}
    {% set seoTitle = siteName %}
  {% endif %}
  <title>
    {{ seoTitle }}
  </title>
{% endif %}

{# FAVICONS #}
{# http://craftsnippets.com/articles/adding-favicons-to-craft-cms-website #}

{# requires global with handle 'favicon' containing asset field with handle 'faviconFile' #}
{% cache globally %}
{% set sizesIcon = [192, 48, 32, 16] %}
{% set sizesAppleTouch = [180] %}
{% if
  favicon is defined
    and favicon['faviconFile'] is defined
    and favicon.faviconFile.exists()
    and favicon.faviconFile.one().kind == 'image' %}
  {# link icon #}
  {% for faviconSize in sizesIcon %}
    {% set icon = favicon.faviconFile.one() %}
    {% set shorterEdge = icon.width > icon.height ? icon.height : icon.width %}
    {% if shorterEdge >= faviconSize %}
      {% set faviconTransform = {
        width: faviconSize,
        height: faviconSize,
        quality: 100,
        position: 'center-center',
        format: 'png'
      } %}
      <link rel="icon"
        sizes="{{ faviconSize ~ 'x' ~ faviconSize }}"
        type="image/png"
        href="{{ icon.getUrl(faviconTransform) }}" />
    {% endif %}
  {% endfor %}
  {# link touch icon #}
  {% for faviconSize in sizesAppleTouch %}
    {% set icon = favicon.faviconFile.one() %}
    {% set shorterEdge = icon.width > icon.height ? icon.height : icon.width %}
    {% if shorterEdge >= faviconSize %}
      {% set faviconTransform = {
        width: faviconSize,
        height: faviconSize,
        quality: 100,
        position: 'center-center',
        format: 'png'
      } %}
      <link rel="apple-touch-icon"
        sizes="{{ faviconSize ~ 'x' ~ faviconSize }}"
        href="{{ icon.getUrl(faviconTransform) }}" />
    {% endif %}
  {% endfor %}
{% endif %}
{% endcache %}

{# FONTS #}
