<ul class="shop-list">
  {# {% set products = craft.products().type('whitewine').limit(10).all() %} #}
  {% set products = craft.products().limit(10).all() %}
  {# {% set products = craft.products().limit(10).all() %} #}

  {% for product in products %}
    {% set img = productImage is defined and productImage is not empty
      ? product.articleImage.one()
      : null
    %}
    {% set imageUrl = product.articleImage.one()
      ? product.articleImage.one().getUrl('productListing')
      : ''
    %}
    {% set imageStandardAltText = img
      and img.imageAltText is defined
      and img.imageAltText is not empty
      ? img.imageAltText
      : ''
    %}
    {% set imageAltText = imageAltText is defined and imageAltText is not empty
      ? imageAltText
      : imageStandardAltText
    %}
    {% set imageStandardCaption = img
      and img.imageCaption is defined
      and img.imageCaption is not empty
      ? img.imageCaption
      : ''
    %}
    {% set imageCaption = imageCaption is defined and imageCaption is not empty
      ? imageCaption
      : imageStandardCaption
    %}

    <li class="shop-list__item">
      <a href="{{ product.url }}" class="shop-list__link">
        {% if imageUrl %}
          <figure class="image">
            <div class="image__wrapper">
              <img class="image__img"
                src="{{ imageUrl }}"
                alt="{{ imageAltText }}" />
            </div>
            {% if imageCaption %}
              <figcaption class="image__caption">
                {{ imageCaption }}
              </figcaption>
            {% endif %}
          </figure>
        {% endif %}

        <div class="shop-list__text">
          <h5>
            {{ product.title }}
          </h5>
          <p>
            {{ product.defaultPrice|currency('CHF') }}
          </p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
