{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">

    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
      </div>
    </div>
    <div class="row product-detail">
      <div class="col col-xs-12 col-md-12 col-lg-12 ">

        <h2 class="heading layout-helper__margin-top--s">
          {{ product.defaultVariant.title }}
        </h2>

        <div class="row">
          <div class="col col-xs-12 col-md-12 col-lg-6">
            <div class="product-detail__image">
              {% include '_components/_content-elements/imageshop' %}
            </div>
          </div>
          <div class="col col-xs-12 col-md-12 col-lg-6">

             <h4 class="">
              {{ product.articleDescription}}
            </h4>

            <h4 class="">
              Varianten
            </h4>
            <form method="post" class="js-form product-detail__form">
              {{ actionInput('commerce/cart/update-cart') }}
              {{
                hiddenInput(
                  'successMessage',
                  ('Artikel ' ~ product.title ~ ' wurde zum Warenkorb hinzugef체gt.')|hash
                )
              }}
              {{ csrfInput() }}
              <div class="product-detail__form-addtobasket">
                {% for variant in product.variants %}
                  {{
                    hiddenInput('purchasables[' ~ loop.index ~ '][id]', variant.id)
                  }}
                  <div class="form-addtobasket__info">
                    <div class="form-addtobasket__info-variant">
                      <span>{{ variant.title }}</span>
                       {% if variant.articleVolume %}
                          <span> {{variant.articleVolume}}{{ variant.articleUnit }}</span>
                        {% endif %}
                    </div>


                                       <div class="form-addtobasket__info-stock">
                        {% if variant.stock > 0 %}
                          <span class="">verf체gbar</span>
                        {% else %}
                          <span class="">momentan nicht verf체gbar</span>
                        {% endif %}
                    </div>

                    <div class="form-addtobasket__info-price">

                      {% if variant.onSale %}
                        <del>
                          {{ variant.priceAsCurrency }}
                        </del><br />{{ variant.salePriceAsCurrency }}
                      {% else %}
                        {{ variant.priceAsCurrency }}
                      {% endif %}
                    </div>

                    <div class="form-addtobasket__info-quantity pl-2 w-1/4">
                      <input class="{{ classes.input }} input w-full"
                        type="text"
                        name="purchasables[{{ loop.index }}][qty]"
                        value="0" />
                    </div>

                  </div>
                {% endfor %}
                <div class="form-addtobasket__info-button">
                  <button type="submit"
                    class="button button--primary">
                    In den Warenkorb
                  </button>
                </div>
              </div>
            </form>

          </div>

          <div class="col col-xs-12 col-md-12 col-lg-6">
          </div>


          <div class="col col-xs-12 col-md-12 col-lg-6">

            <h3 class="heading heading--3">Beschreibung</h3>
            {% if product.articleNumber %}
              <p> Artikelnummer: {{ product.articleNumber }}</p>
            {% endif %}

            {% if product.articleVolume %}
              <span> {{product.articleVolume}}{{ product.articleUnit }}</span>
            {% endif %}

            {% if product.articleStorage %}
              <p> Lagerung: {{ product.articleStorage }}</p>
            {% endif %}

            {% if product.articleBioZertifisation %}
              <p> Bio-Zertifizierung: {{ product.articleBioZertifisation }}</p>
            {% endif %}

            {% if product.articleAllergenic %}
              <p> Allergene: {{ product.articleAllergenic }}</p>
            {% endif %}

            {% if product.articleNutritionalValue %}
              <p> N채hrstoffe: {{ product.articleNutritionalValue }}</p>
            {% endif %}

            {% if product.articleIngredients %}
              <p> Inhaltsstoffe: {{ product.articleIngredients }}</p>
            {% endif %}

            {% if product.articleAdditionalInfo %}
              <p> {{ product.articleAdditionalInfo }}</p>
            {% endif %}

            {% if product.articleVegan %}
              <p> Vegan: {{ product.articleVegan }}</p>
            {% endif %}

            {% if product.articleEanNumber %}
              <p> EAN-Nummer: {{ product.articleEanNumber }}</p>
            {% endif %}

          </div>

        </div>

      </div>
    </div>
  </section>
{% endblock %}
