{% set variantPrice = variant.price %}
{% set variantPriceRound = round((variantPrice + 0.000001) * 20) / 20 %}

{% set variantSalePrice = variant.salePrice %}
{% set variantSalePriceRound = round((variantSalePrice + 0.000001) * 20) / 20 %}

<div class="shop-list__item--prices">
  {% if currentUser %}
    {% if
      currentUser.isInGroup('userGroupPrivate')
      or currentUser.isInGroup('userGroupRedactors') %}
      {% if variant.onSale %}
        <strike class="shop-list__item--price-old">
          {{ variantPriceRound|number_format(2, '.', '')|currency('CHF') }}
          {# {{ variant.price|currency('CHF') }} #}
        </strike>
        <span class="shop-list__item--price-sale">
          {{ variantSalePriceRound|number_format(2, '.', '')|currency('CHF') }}
          {# {{ variant.salePrice|currency('CHF') }} #}
        </span>
      {% else %}
        <span class="shop-list__item--price">
          {{ variantPriceRound|number_format(2, '.', '')|currency('CHF') }}
        </span>
      {% endif %}
    {% elseif
      currentUser.isInGroup('userGroupRetail')
      or currentUser.isInGroup('userGroupRedactors') %}
      {% if variant.onSale %}
        <strike class="shop-list__item--price-old">
          {{ variantPriceRound|number_format(2, '.', '')|currency('CHF') }}
        </strike>
        <span class="shop-list__item--price-sale">
          {{ variant.salePrice }}
          {# {{ variantSalePriceRound|number_format(2, '.', '')|currency('CHF') }} #}
        </span>
      {% else %}
        <span class="shop-list__item--price">
          {{ product.priceRetailTrader|currency('CHF') }}
        </span>
      {% endif %}
    {% endif %}
  {% else %}
    {% if variant.onSale %}
      <strike class="shop-list__item--price-old">
        {{ variantPriceRound|number_format(2, '.', '')|currency('CHF') }}
      </strike>
      <span class="shop-list__item--price-sale">
        {{ variantSalePriceRound|number_format(2, '.', '')|currency('CHF') }}
      </span>
    {% else %}
      <span class="shop-list__item--price">
        {{ product.pricePrivateCustomer|currency('CHF') }}
      </span>
    {% endif %}
  {% endif %}
</div>
