{% extends '_layouts/main' %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title %}

{% set allManufactors =
  craft.entries.section('producersStructure').level(1).all() %}

{# Set up Regions #}
{% set regionIT = craft.categories()
  .slug('italy')
  .one() %}
{% set regionES = craft.categories()
  .slug('spain')
  .one() %}
{% set regionDE = craft.categories()
  .slug('germany')
  .one() %}
{% set regionFR = craft.categories()
  .slug('france')
  .one() %}
{% set regionPOR = craft.categories()
  .slug('portugalwine')
  .one() %}
{% set regionBO = craft.categories()
  .slug('bosnia')
  .one() %}

{# Get all Producers from IT #}
{% set allManufactorsIT =
  craft.entries.section('producersStructure')
    .relatedTo(regionIT)
    .level(1)
    .all() %}

{# Get all Producers NOT from IT #}
{% set allManufactorsNOTIT = craft.entries.section('producersStructure')
  .relatedTo([ 'or', regionES, regionDE, regionFR, regionPOR, regionBO])
  .all() %}




{# Set up Producers who sell Food #}
{% set manufactorFood = craft.categories()
  .slug('food')
  .one() %}

{# Set up Producers who sell Wine #}
{% set manufactorWine = craft.categories()
  .slug('wine')
  .one() %}

{# Get all Producers who sell Food #}
{% set allManufactorsFood = craft.entries.section('producersStructure')
  .relatedTo([ manufactorFood ])
  .all() %}

{# Get all Producers who sell Wine #}
{% set allManufactorsWine = craft.entries.section('producersStructure')
  .relatedTo([ manufactorWine ])
  .all() %}

{% block content %}
  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
        <h2 class="heading heading--h2 heading--site heading--no-margin-top">
          {{ pageTitle }}
        </h2>
      </div>
    </div>
  </div>

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-8">
        {% include '_pages/produzenten/map' %}
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-4">

        <ul class="producers-list">
          {% for entry in allManufactorsFood %}
            <li>
              <a href="#" data-id="{{ entry.id }}" title="{{ entry.title }}" class="producers-list__item">
                {{ entry.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

        {# <ul class="producers-list">
          {% for entry in allManufactorsNOTIT %}
        #}{# Fetch all of the categories related to this entry #}{#
        {% set categories = craft.categories.relatedTo(entry) %}

        <li>
          <a href="{{ entry.url }}" data-id="{{ entry.id }}" title="{{ entry.title }}" class="producers-list__item">
            {{ entry.title }},<span class="producers-list__item-place"> {{ categories|join(', ') }}</span>
          </a>
        </li>
      {% endfor %}
    </ul> #}
      </div>


    </div>
  </section>

  <section class=" grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h2>Lebensmittel</h2>
        <div class="producers-grid">
          {% if allManufactorsFood|length %}
            {% for entry in allManufactorsFood %}
              {% include '_pages/produzenten/producers-tile.twig' %}
            {% endfor %}
          {% endif %}
        </div>

        <h2>Weine</h2>
        <div class="producers-grid">
          {% if allManufactorsWine|length %}
            {% for entry in allManufactorsWine %}
              {% include '_pages/produzenten/producers-tile.twig' %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
