<figure id="imagemap" class="producers-map">
  <svg viewBox="0 0 610 792">
    <image xlink:href="assets/images/content/map/italy.svg"></image>

    {% for entry in allManufactorsFood %}
      <a href="{{ entry.url }}" data-id="{{ entry.id }}" title="{{ entry.title }}"
         class="producer-circle">
        <circle cx="{{ entry.manufactorLatitude }}" cy="{{ entry.manufactorLongitude }}" r="8" opacity="1"
                title="{{ entry.title }}">
        </circle>

        {% set image = entry.mapIcon.one() %}
        {% if image and image.extension == 'svg' %}
          {{ svg(image)|attr({ class: 'map-icon' }) }}
        {% endif %}
      </a>
    {% endfor %}
  </svg>
</figure>
