{% set lastProductId = lastProductId ?? 0 %}
{% set purchasableId = purchasableId ?? 0 %}

{% set addedToCart = success is defined %}


{% if sprig.isRequest %}
  <script>
    htmx.trigger('#cartsize', 'refresh');
    htmx.trigger('#cartsizemobile', 'refresh');
  </script>
{% endif %}


<div class="shop-list__item">
  <a class="shop-list__link" href="{{ product.url }}">
    {% if variant.onSale %}
      <div class="onsale">
      </div>
    {% endif %}
    <div class="shop-list__image">

      {% set transform = transformation|default('productListing') %}
      {% set img = product.articleImage.one() ?? null %}

      {% if img is defined %}
        {% include '_components/_content-elements/image-product'
          with {
          image: img,
          transform: transform
        } %}
      {% endif %}

    </div>

    <div class="shop-list__text">
      <h3 class="layout-helper__margin-vertical--none">
        {{ product.title }}
      </h3>
      <div class="shop-list__text--pricevolume">
        {% if variant.articleVolume %}
          <span class="shop-list__volume">
            - {{ variant.articleVolume }}{{ variant.articleVolumeUnit }} -
          </span>
        {% endif %}

        {% include '/shop/produkte/_includes/prices.twig' %}

      </div>
    </div>

  </a>

  <form class="js-form">

    <div class="shop-list__item-cart">
      <div class="item-cart__variants">
        <select name="purchasableId"
                class="js-purchasableId block appearance-none w-full border border-gray-200 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:ring">
          {% for variant in product.getVariants() %}
            <option
              value="{{ variant.id }}">{{ variant.title }} {{ variant.sku }} {{ variant.salePrice|currency(cart.currency) }}</option>
          {% endfor %}
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>

        </div>
      </div>

      <div class="item-cart__qty-btn">

        <input class="input input-xsmall"
               name="qty"
               type="number"
               step="1"

          {% if currentUser %}
            {% if currentUser.isInGroup('userGroupRetail') %}
              value="{{ product.artikelMinOrderSize }}"
              min="{{ product.artikelMinOrderSize }}"
              placeholder="{{ product.artikelMinOrderSize }}"
            {% else %}
              value="1"
              min="1"

            {% endif %}
          {% else %}
            value="1"
            min="1"

          {% endif %}
        >

        {% if variant.stock > 0 or variant.hasUnlimitedStock %}
          <a sprig s-action="commerce/cart/update-cart" s-method="post" s-val:purchasable-id="{{ variant.id }}" href="#"
             class="button--primary {% if addedToCart and purchasableId == variant.id %}button--success {% endif %} text-center">
            {% if addedToCart and purchasableId == variant.id %}
              <svg class="icon--check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"/>
              </svg>
              Im Warenkorb
            {% else %}
              In den Warenkorb
            {% endif %}
          </a>
        {% else %}
          <button disabled type="submit"
                  class="disabled button button--primary text-center">nicht verfügbar
          </button>
        {% endif %}
      </div>

    </div>
  </form>

</div>

