{% set lastProductId = lastProductId ?? 0 %}
{% set purchasableId = purchasableId ?? 0 %}

{% set addedToCart = success is defined %}

{% set product = craft.products.id(productId).one() %}
{% set variant = craft.variants.id(variantId).one() %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}



{# Eager Load Images
https://craftcms.stackexchange.com/questions/39033/eager-loading-of-variant-images #}
{% do craft.app.elements.eagerLoadElements(
  className(product),
  [product],
  [
    ['articleImage', { withTransforms: ['productListing'] }],
    ['articleCategoriesStatus'],
    ['articleCategoriesGift'],
  ]
) %}

<a class="shop-list__link" href="{{ product.url }}">
  {% if variant.onSale %}
    <div class="onsale">
    </div>
  {% endif %}

  {% if product.articleCategoriesStatus|contains('id', '10745') %}
    <div class="newproduct">
    </div>
  {% endif %}

  {% if variant.hasstock == false %}
    <div class="oos">
      <span class="oos-message">zurzeit nicht lieferbar</span>
    </div>
  {% endif %}
  <div class="shop-list__image">
    {% if product.articleCategoriesGift|contains('id', '10887') or product.articleCategoriesGift|contains('id', '10888') or product.articleCategoriesGift|contains('id', '10889') or product.articleCategoriesGift|contains('id', '10890') or product.articleCategoriesGift|contains('id', '10891') or product.articleCategoriesGift|contains('id', '10892') %}
      <span class="shop-list__item--infohover">Zusatzoptionen anschauen</span>
    {% else %}
      <span class="shop-list__item--infohover">Informationen anschauen</span>
    {% endif %}

    {% set transform = transformation|default('productListing') %}
    {# {% set img = product.articleImage.one() ?? null %} #}
    {% set img = product.articleImage[0] ?? null %}

    {% if img is defined %}
      {% include '_components/_content-elements/image-product'
        with {
        image: img,
        transform: transform
      } %}
    {% endif %}

  </div>

  <div class="shop-list__text">
    <h3 class="layout-helper__margin-vertical--none">
      {{ product.title }}
    </h3>
    <div class="shop-list__text--pricevolume">
      {% if variant.articleVolume %}
        <span class="shop-list__volume">
            - {{ variant.articleVolume }}{{ variant.articleVolumeUnit }} -
          </span>
      {% endif %}

      {% include '/shop/produkte/_includes/prices.twig' %}

    </div>
  </div>

</a>

<form class="js-form">
  {{ hiddenInput(
    'successMessage',
    ('Artikel ' ~ product.title ~ ' wurde zum Warenkorb hinzugefügt.')|hash
  ) }}

  <div class="form-addtobasket__info-add">
    <div class="form-addtobasket__info-quantity" id="addtocart-{{ variant.id }}">

      {% if variant.stock > 0 or variant.hasUnlimitedStock %}

        <input class="input form-addtobasket__info-quantity--input"
               name="qty"
               type="number"
               step="1"
          {% if currentUser %}
            {% if currentUser.isInGroup('userGroupRetail') %}
              value="{{ product.artikelMinOrderSize }}"
              min="{{ product.artikelMinOrderSize }}"
              placeholder="{{ product.artikelMinOrderSize }}"
            {% else %}
              value="1"
              min="1"
            {% endif %}
          {% else %}
            value="1"
            min="1"
          {% endif %}
        >

        <a sprig
           s-action="commerce/cart/update-cart"
           s-method="post"
           s-val:purchasable-id="{{ variant.id }}"
           s-replace="#addtocart-{{ variant.id }}"

           href="#"
           class="button--primary {% if addedToCart %}button--success {% endif %} text-center">
          {% include 'sprig/components/filters/_components/indicator-addtocart' %}
          {% if addedToCart and purchasableId == variant.id %}
            <svg class="icon--svg icon--check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor">
              <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="button--primary__text">Im Warenkorb</span>
          {% else %}
            <span class="button--primary__text">In den Warenkorb</span>
          {% endif %}
        </a>
      {% else %}
        <a class="button button--primary-bis button--small" href="{{ product.url }}">
          <span>Benachrichtigen Sie mich</span>
        </a>
      {% endif %}

      {% if success is defined %}
        <p class="form-addtobasket__notice">{{ success ? flashes.notice : flashes.error }}</p>
      {% endif %}
    </div>
  </div>


  {# Outputs a hidden input field #}
  {{ craft.snaptcha.field }}
</form>


