{% set entries = craft.entries
  .section('producersStructure')
  .with([
    'image'
  ]) %}
{% set relatedCats = craft.categories.relatedTo(entries) %}
{# {% set products = entry.productsManufactor.limit(3) %} #}

<li class="producers">
  <a href="{{ entry.url }}" class="producers-overview">
    <h3 class="producers-overview__title heading--3 heading">
      {{ entry.title }}
    </h3>
    <p class="producers-overview__previewtext"> {{ entry.previewText }}</p>

    <div class="producers-overview__preview">

      {% set transform =
	transformation|default('producersThumb') %}
      {% set img = entry.image.one() ?? null %}
      {% if img is defined %}
	{% include '_components/_content-elements/image' with {
	  img: img,
	  transform: transform
	} %}
      {% endif %}
    </div>

    <span
      class="link producers producers-overview__linkdetail"> {{ entry.linkTextDetailPage|default("mehr Informationen") }}
      </span>

  </a>
</li>
{# <div class="producers producers-overview__products-list">
      <ul class="">
	{% for product in products %}

	  {% set variant = product.defaultVariant %}
	  {% set manufactorproducts = (product.title) %}

	  <li class="producers-overview__products-list--item">
	    {% include '/_components/_content-elements/link.twig' with {
	      linkUrl: product.url,
	      linkText: manufactorproducts,
	      target: 'internal',
	      customClass: ''
	    } %}

	  </li>
	{% endfor %}
      </ul>
    </div> #}

  {% set regionsManu = craft.categories()
    .group('regionsManu')
    .all() %}

  {# Fetch all of the categories related to this entry #}
  {% set categories = craft.categories.relatedTo(entry).andRelatedTo(regionsManu) %}
  {% set relatedCats = craft.categories.relatedTo(entry) %}
  {# <span>{{ categories|join(', ') }}</span> #}

  {# <div class="producers-overview__preview">
      {% if
	entry.contentElements is defined
	and entry.contentElements is not empty %}

	{% set transform =
	  transformation|default('producersThumb') %}
	{% set img = entry.image.one() ?? null %}
	{% if img is defined %}
	  <a href="{{ entry.url }}" class="producers-overview__preview-link">
	    {% include '_components/_content-elements/image' with {
	      img: img,
	      transform: transform
	    } %}
	  </a>
	{% endif %}
      {% endif %}
    </div> #}

  {# {% if
      entry.contentElements is defined
      and entry.contentElements is not empty %}
      <a href="{{ entry.url }}"
	 class="link producers producers-overview__linkdetail">
	mehr Informationen
      </a>


    {% endif %} #}
