{% extends "_layouts/main" %}


{% block content %}

<div class="row">
<div class="intro large-12 small-12 columns ">
   <p>
       <small><a href="/shop">&larr;Supplies</a></small>
   </p>
</div>

<ul>

  {#% set products = craft.products().type('whitewine').limit(10).all() %#}
  {% set products = craft.products().limit(10).all() %}

  {% for product in products %}
    <li>
      <a href="{{ product.url }}">
        <img src="{{ product.productImage.one().getUrl('productListing') }}" alt="">
        {{ product.title}} - {{ product.defaultPrice |currency('CHF') }}
        <h5>{{product.title }}</h5>
        <p>{{ product.defaultPrice |currency('CHF')}}</p>
      </a>
      </li>

  {% endfor %}


</ul>

</div>





{% endblock %}
