{% set navSearch = craft.entries.section('searchSingle').one() %}
{% set loginLink = craft.entries.section('loginStructure').one() %}
{# {% set instashop = craft.entries.section('instashop').one() %} #}
{# Import Macros #}
{% import '_helpers/macros.twig' as macros %}

<ul class="nav-service-phone-list">
  <h2 class="visually-hidden">
    {{ 'nav.serviceNavigation'|t }}
  </h2>

  {# <li class="nav-service-phone-list__item">
    <a href="{{ instashop.url }}"
      class="nav__link {{ macros.isActive('instashop', 1, 'nav__link--') }}">
      {{ 'InstaShop'|t }}
    </a>
  </li> #}

  <li class="nav-service-phone-list__item">
    {% if currentUser %}
      <span class="currentuser">
        <a href="/shop/customer">
          Kundenkonto
          {# | <strong>{{ currentUser.friendlyName }}</strong> #}
        </a>
      </span>
    {% endif %}
  </li>

   {% if currentUser %}
      {# <a href="{{ logoutUrl }}" class="nav__link">{{ 'Logout'|t }}</a> #}
      {% include '_components/_nav/_nav-shop/nav-shop-desktop' %}
    {% else %}
    <li class="nav-service-phone-list__item">
      <a href="{{ loginLink.url }}" class="nav__link">{{ 'Login'|t }}</a>
    </li>
    {% endif %}


    <li class="nav-service-phone-list__item">
      <a href="{{ navSearch.url }}"
        class="nav__link {{ macros.isActive('suche', 1, 'nav__link--') }}">
        {{ 'Suche'|t }}
      </a>
    </li>
</ul>
