{# IMPORT MACROS #}
{% import '_helpers/macros.twig' as macros %}

{% set loginLink = craft.entries.section('loginStructure').one() %}
{% set navSearch = craft.entries.section('searchSingle').one() %}

{#
{% set url = craft.app.request.pathInfo %}
#}

<nav class="nav-service" role="navigation">
  <h2 class="visually-hidden">
    {{ 'nav.serviceNavigation'|t }}
  </h2>

  <ul class="nav-service__list nav-service__list-top">
    <li class="nav-service__list-item">
      {% if sprig.isRequest %}

        {% if currentUser %}
          <span class="currentuser">
          <a href="/shop/customer">
            Profil
          </a>
        </span>
        {% else %}
          <a href="{{ loginLink.url }}" class="nav__link">{{ 'Login'|t }}</a>
        {% endif %}
      {% else %}
        <span class="currentuser">
          <a href="/shop/customer">
            Profil
          </a>
        </span>
      {% endif %}
    </li>

    <li class="nav-service__list-item nav-service__list-item-shop">
      {% include '_components/_nav/_nav-shop/nav-shop-desktop' %}
    </li>

    <li class="nav-service__list-item">
      <a href="{{ navSearch.url }}"
         class="nav__link {{ macros.isActive('suche', 1, 'nav__link--') }}">
        {{ 'Suche'|t }}
      </a>
    </li>
  </ul>

</nav>
