{# Import Macros #}
{% import '_helpers/macros.twig' as macros %}

{% set loginLink = craft.entries.section('loginStructure').one() %}
{% set navSearch = craft.entries.section('searchSingle').one() %}

{% set url = craft.app.request.pathInfo %}

<ul class="nav-service-phone-list">
  <h2 class="visually-hidden">
    {{ 'nav.serviceNavigation'|t }}
  </h2>

  <li class="nav-service-phone-list__item">
    {% if currentUser %}
      <span class="currentuser"><a href="/shop/customer">Profil</a></span>
    {% endif %}
  </li>

  {% if currentUser %}
    <span class="nav-service__list-item">
    {% include '_components/_nav/_nav-shop/nav-shop-desktop' %}
  </span>
  {% else %}
    <li class="nav-service-phone-list__item">
      <a href="{{ loginLink.url }}" class="nav__link">{{ 'Login'|t }}</a>
    </li>
  {% endif %}

  <li class="nav-service-phone-list__item">
    <a href="{{ navSearch.url }}"
       class="nav__link {{ macros.isActive('suche', 1, 'nav__link--') }}">
      {{ 'Suche'|t }}
    </a>
  </li>
</ul>
